[2015-04-17 06:00] calmh opened #2 "Merges internal namespaces"
Perhaps this is according the the spec (I admit to not fully reading it and just going by how I think it should work ;), but to me this is unexpected:

[code]

That is, `golang.org/x/text/unicode/norm` is located where I expect it, but `golang.org/x/text/internal/triegen` and `.../ucd` gets dropped directly in `github.com/syncthing/syncthing/internal`?

[2015-04-17 14:15] kardianos commented on #2
That's an issue. It needs to be more exact when determining the final path.
I'll look into. Thanks.

On Thu, Apr 16, 2015, 23:00 Jakob Borg <notifications@github.com> wrote:

[2015-04-17 16:24] kardianos commented on #2
@calmh Thanks. I've looked into this some more and I can confirm that this is an issue caused from not looking for and inspecting the vendor file of the package being imported. Because of that it incorrectly assumes it should pop the vendor internal package to a top level package.

[2015-04-17 16:41] kardianos commented on #2
@calmh This should be fixed on: https://github.com/kardianos/vendor/commit/2b0b5efac01334b3972646bee5f433f0cea725f1
. Thanks.

[2015-04-17 16:41] #2 closed

[2015-04-17 17:35] kardianos opened #3 "Handle conflicting vendor packages"
Packages Orig:
z
a (ref "a/internal/z")
a/internal/z
b (ref "b/internal/z")
b/internal/z

My main pkg:
c (ref "a", "b", "z")

Now with vendor:
c (ref "c/internal/a", "c/internal/b", "c/internal/z")

When we copy the vendor package "z", need to rewrite all paths to same "c/internal/z" path.

[2015-04-17 19:44] kardianos commented on #3
Fixed the stopping issue with https://github.com/kardianos/vendor/commit/a7db589be805743a6ad8165c3b0fc8c0d4c1a132

[2015-04-17 19:44] #3 closed

[2015-04-17 19:44] dmitris opened #4 "vendor tool hangs on Mac"
When running "vendor add golang.org/x/net", it hangs with no output for a long time and CPU goes to 110+ % (on Mac 10.10.3). (It would be great to add "-v" switch for verbose mode so that you would be able to see what vendor is doing and which steps are currently running).

Tried with the latest version of vendor (installed with "go get -u github.com/kardianos/vendor before running the "vendor add

[2015-04-17 20:37] kardianos commented on #4
Thanks for testing again.
Would you be willing to try one more time? I haven't fixed anything, but I
put limits on the for {} loops where if it tries to loop forever it will
return an error. That will give my insight into what's wrong.

On Fri, Apr 17, 2015 at 12:44 PM Dmitry Savintsev <notifications@github.com>
wrote:

[2015-04-17 20:50] kardianos commented on #4
Put a hold on that. I was able to reproduce. I'll fix in a minute.

On Fri, Apr 17, 2015 at 1:37 PM Daniel Theophanes <kardianos@gmail.com>
wrote:

[2015-04-17 21:10] kardianos commented on #4
@dmitris I was able to reproduce and determine the issue. In this the bug was triggered by trying to add a folder, not package. To do what you want, you would do "vendor add golang.org/x/net/..." (note the trailing "...").. However https://github.com/kardianos/vendor/commit/2260c623b5c873a0d436e5ef9265c24d266e5252 fixes the loop and display an message.

[2015-04-19 08:33] calmh commented on #2
:+1:

[2015-04-20 03:01] calmh opened #5 "nil pointer dereference"
This is on a clean (non-vendored) checkout, where I've just `rm -rf Godeps` to get those out of the way..

[code]

(2260c62)

[2015-04-20 03:47] kardianos commented on #5
The cause of the panic should be fixed with https://github.com/kardianos/vendor/commit/ebb968f2818ffe62010968c2f242db8119febbf2 .

However, inspecting the behavior leads me to believe there is another underlying bug with "vendor list" command correctness. I'll open another issue to track that. behavior.

Thanks again.

[2015-04-20 03:47] #5 closed

[2015-04-20 03:49] kardianos opened #6 "The behavior of vendor list, and maybe vendor add (related) is not deterministic."
Internally maps are used. Depending on the way the map is iterated the results are different. This shouldn't be. The results should be consistent (and correct).

[2015-04-20 03:49] kardianos commented on #5
Opened https://github.com/kardianos/vendor/issues/6 for discovered issue.

[2015-04-20 05:01] calmh commented on #5
:+1: Looks better now :)

[2015-04-20 14:12] kardianos commented on #6
Fixed at https://github.com/kardianos/vendor/commit/fc9fa89b2f797c67d7ed61b6e671a4640209fb98

[2015-04-20 14:12] #6 closed

[2015-04-20 14:12] kardianos commented on #5
@calmh both issues have now been resolved.

[2015-04-22 16:18] kardianos opened #7 "Consider adding command "vendor backport""
vendor backport

Copy from the local internal folder out to the GOPATH vendor path. In addition to simply copying files, we would need to support import comment rewrites, not just removal.

[2015-05-06 21:46] gmlewis opened #8 "Document GOPATH is required for use."
If I create a Go app (using `package main`) somewhere outside of my `$GOPATH`, `vendor init` works, but `vendor list` and `vendor add -status external` both fail with the error:

[code]

Am I doing something wrong?
Thanks!

[2015-05-06 23:39] kardianos commented on #8
I'll add a note to the readme.

vendor operates by re-writing import paths. The go tool will not be able to find the re-written import paths outside of GOPATH. The vendor file must write the new local path relative to the GOPATH as well.

GOPATH is requried.

[2015-05-07 04:27] #8 closed

[2015-05-12 04:21] houbin217jz opened #9 "dependency packages of _test.go"
Vendor is awesome. However I noticed that vendor detects and puts all the dependency packages into internal folder including dependencies of _test.go files.
For example, when I use `gorp + lib/pq`, it will also puts following packages and their dependencies.
[code]
These packages are used just in gorp_test.go and should be excluded.

Also I think it's better to clarify that how to due with _test.g

[2015-05-12 04:31] kardianos commented on #9
I can confirm this is an issue. I need to think if there should be a switch to also look at test files. Thanks for tagging this.

[2015-05-12 06:22] anonx commented on #9
I don't think this is an issue. Yeah those packages are only used in `*_test.go`. So what? That means you wouldn't end-up with broken tests if the packages have changed.
And if you really don't want to include some specific import path there is always `vendor remove` available.
Right? Or am I missing something?

[2015-05-12 23:18] gaillard opened #10 "Stabilize command and package API"
I was wondering if you intend to keep the package, not the command stable so those that want to programatically call into the code can rely on it? I notice there is missing documentation on key functions which is why I am asking. Thanks !

[2015-05-13 00:48] kardianos commented on #10
@gaillard The command API will probably stay the same for awhile, however there is a planned rewrite of the Go API.

[2015-05-13 14:42] gaillard commented on #7
Not sure if your looking for these kind of comments but I would keep this repo small. I think the tool that will get used the most is the one that simply copies and rewrites imports as well as delete and unwrites the imports. I would not add this command and would also remove init and update.

[2015-05-20 06:08] anonx commented on #9
Looks like you expect the same behaviour as `godep` has. But that's an issue of `godep` rather than a feature: https://github.com/tools/godep/issues/185

[2015-05-20 07:25] anonx commented on #10
@kardianos Haven't you thought about simplification of command API? Probably by creating aliases for the most common use-cases. Just as an example:

1. Create `internal/` and `internal/vendor.json`, if they don't exist **+** replace all external paths by their internal versions: `vendor save`.
2. Replace all external paths by their internal versions **+** delete unused internal paths: `vendor save

[2015-05-20 14:01] kardianos commented on #9
I think the default behavior that I would want is to copy over the test files, but don't copy over or rewrite the test file dependencies. This also implies creating a indicator of such package in list (test only).

I would still want an option, probably at the project level, to include such dependencies.

[2015-05-27 08:16] noonien opened #12 "Add Status (p) Program for vendored main packages."
I use go.rice to embed static files into my binaries and would like to vendor the rice main package.

I already did this using vendor add github.com/GeertJohan/go.rice/rice and the package was successfully vendored, however, the package status is listed as "unused".

I figure this is because the package is not imported anywhere, nor could it be.

Would it perhaps be a good idea to consider package

[2015-05-27 14:58] kardianos commented on #12
That's an excellent point. I would consider adding a new status called
"main" (m) just for this situation. Considering it an internal status would
also be acceptable.

On Wed, May 27, 2015 at 1:16 AM George Jiglau <notifications@github.com>
wrote:

[2015-05-27 15:09] noonien commented on #12
Having a special status for this would be great, however, (m) already means missing, does it not?

[2015-05-27 15:32] kardianos commented on #12
True. I'be been trying to pick statuses with unique initial letters. I've got some work to do before I can get to this. Thinking for now on how to best handle it.

[2015-06-02 00:23] kardianos commented on #12
Thinking:
Program (p) - status for copied main package and it's dependencies that otherwise the project wouldn't have.

[2015-06-02 07:26] noonien commented on #12
Yes, that looks fine. I believe 'program' is what the Go language specification declares as the result of compiling the main package.

[2015-06-09 16:34] kardianos opened #13 "Ensure handling of relative imports "./pkg1""
Imports that are local to a path are probably not handed correctly currently. Fix.

[2015-06-09 17:25] #13 closed

[2015-06-10 15:47] kardianos opened #14 "Allow specifying tags when adding or removing files."
Allow specifying which build tags to use or not use when finding dependencies. This will likely play into Issue #9 .

[2015-06-11 17:47] kardianos opened #15 "Provide better visibility into conflicting versions"
Context: http://www.reddit.com/r/golang/comments/390yes/gb_a_project_based_build_tool_for_the_go/cs2clg0?context=3

I want to find or create sane tooling that deals with the case of my project wanting to vendor a project which itself vendors other projects. For example I want to vendor A at version a1, and B at version b1, but B@b1 already vendors A at a2.
"Versions" here might be "head", a specif

[2015-06-11 17:57] kardianos commented on #15
I agree with you that tools should provide insight and not just barf.

I agree with you that libraries should be able to vendor deps.

Right now the state of this tool is that it brings deps of deps to the top level and chooses a winner. What it doesn't do is try to resolve versions. There are a few sub-issues that this issue brings up:
1) Inspect versions when bringing dependencies forward.
2) Pr

[2015-06-11 18:00] kardianos opened #16 "Support /vendor/ directory"
Determine the ramification of the go tool adding experimental support for the /vendor/ directory.

[2015-06-12 15:26] kardianos commented on #16
Support must involve searching for dependencies.

Support will probably allow vendoring by copying into the /vendor/ directory.
We need to move the vendor.json file into the project root to support either location. Rewrites cannot go into the /vendor/ folder.

[2015-06-12 15:52] ngrilly commented on #16
But import path rewriting will not be necessary anymore with the improvements proposed by Russ Cox a few hours ago on golang-dev?

[2015-06-12 16:38] kardianos commented on #16
@ngrilly Import path rewriting might go away eventually. However it won't be until 1.6 it could be the default and not until 1.7 until the option becomes mandatory. That's a while yet, and until then I will continue to treat it as an experiment (one I fully support).

For clarity, the following changes need to be made:
1. Move the "vendor.json" file to the root of the project directory.
2. Update

[2015-06-18 18:31] ilackarms commented on #9
any progress on this issue?

[2015-06-18 18:56] tedsuo commented on #9
Hi @kardianos,

To be clear, the current behavior is that vendor copies over the test file dependencies, but does not rewrite the import paths for the dependencies (the import paths for the regular dependencies are  rewritten in the test files though).  So the packages are vendored but not referenced.

For us, it's important that we have reproducible builds, so we want the test dependencies vendor

[2015-06-19 12:50] kardianos commented on #9
@ilackarms This issue (and any other changes) are pending adding operational test. I've stubbed the test I want to see but I haven't filled it in yet.

[2015-06-19 12:52] kardianos commented on #9
@tedsuo That's odd. I'd like to say the vendor tool right now treats all go files equal. It totally ignores build tags and file suffixes. Now if you don't have the dependency in your gopath and the test dependency is marked with a "m" then you need to get those before it will rewrite them.

I'm 99% sure this is the case, but this is one of the reasons my next step is to add an operational test(s).

[2015-06-22 12:58] noonien opened #17 "Go 1.4 Canonical Import Path comments are not rewritten"
Comments such as [theese](https://github.com/kardianos/osext/blob/master/osext.go#L6) produce errors while building.

    code in directory internal/github.com/kardianos/osext expects import "github.com/kardianos/osext"

[2015-06-22 13:28] kardianos commented on #17
Could you make sure you have the latest version? It should remove those
references.

On Mon, Jun 22, 2015 at 5:58 AM George Jiglau <notifications@github.com>
wrote:

[2015-06-22 13:42] noonien commented on #17
Indeed it does, thanks!

[2015-06-22 13:51] kardianos commented on #17
Great!

[2015-06-22 13:51] #17 closed

[2015-06-23 14:22] mariash opened #18 "Rewrite import paths in all packages that share the same dependency"
If several packages require the same dependency during `vendor add` only one of the packages will have its imports overwritten.

This happens because when adding dependencies the imports rewrite is skipped if package files exist locally. https://github.com/kardianos/vendor/blob/master/rewrite/command.go#L233

To reproduce, here is an example: https://gist.github.com/mariash/6a48e89f18b9dd7a73a8
bo

[2015-06-23 20:47] kardianos commented on #18
Fixed in 783925603a9f2febeef8c9e4242946ca64ec506b

[2015-06-23 20:47] #18 closed

[2015-07-26 13:08] gedw99 commented on #15
@kardianos +1: A dependency graph would help allot for large projects. as things get bigger they get move complex. Any thoughts on what web based tool to use for dependency graph ? I have been thinking about the same thing myself and am using a QML based tool for this type of work. I dont think its appropriate for this though. QML tool i use is too complex and make for project where a very high le

[2015-07-27 00:36] kardianos commented on #15
@gedw99 Right now I am developing a new package that will allow for different visualizations in a branch. For the command line tool I plan to keep it console based. For the default command line tool I plan to do the following:
vendor list:
x y local-path [canonical-path]
x and y being status and coded location.

Then either a different command or a flag, I will have a similar listing but with also

[2015-07-27 11:28] gedw99 commented on #15
@kardianos  this sounds excellent. CLi first makes sense i think also.
yes, visual tooling afterwards

[2015-07-28 12:13] noonien commented on #12
Any updates on this? Should I fork and submit a pull requests?

[2015-07-28 13:46] kardianos commented on #12
In the works. Look at the importmap branch. It will co-release with vendor
exp change.

On Tue, Jul 28, 2015, 05:13 George Jiglau <notifications@github.com> wrote:

[2015-07-29 17:56] kardianos opened #21 "Need to rename project from "vendor" to ?"
vendor is now special.
Any suggestions?

[2015-07-29 19:33] kardianos commented on #21
rename to govendor for now.

[2015-07-29 19:33] #21 closed

[2015-07-29 19:35] kardianos commented on #16
Most of this work has been done in the "importmap" branch. More work remains.

Before merging I want a good path forward (migration) and better output for listing current status.

[2015-07-29 19:37] kardianos commented on #10
I've updated the API considerably. checkout "github.com/kardianos/govendor/context" on the "importmap" branch. I'd be interested in your feedback. I would be willing to commit to that API as being mostly stable. I say mostly because of the unknown of the 1.5 vendor experiment.

[2015-08-01 20:56] kardianos commented on #16
This is now merged.

[2015-08-01 20:56] #16 closed

[2015-08-01 20:57] kardianos commented on #12
@noonien This is now completed.

[2015-08-01 20:57] #12 closed

[2015-08-01 20:59] kardianos commented on #10
@gaillard I can't yet commit to the API being 100% stable, but the package is now structured how I want it to be, so it should be relatively stable. Look in the "context" package and how it is used in tests and the migrate and main packages.

[2015-08-01 20:59] #10 closed

[2015-08-01 20:59] kardianos commented on #7
I have yet to find a convincing use case for this. Closing as won't add for now.

[2015-08-01 20:59] #7 closed

[2015-08-01 21:01] kardianos commented on #15
Conflict management is ready to be added to the UI.
Adjust the code here for a starting point:
https://github.com/kardianos/govendor/blob/master/run.go#L275

[2015-08-03 02:40] jacobsa opened #24 "`govendor add` pulls in unwanted tests for dependencies, in a broken way"
I'm using govendor at 9de80febcf158338d5eb650b395315d8d4a72a6e. It appears that the current behavior of `govendor add +e` is to import the test files from the packages on which I depend.

This may be annoying for some users, for the reasons discussed in golang/go#11659. But more importantly, `govendor add` does not pull in the transitive dependencies of the tests if they include packages that my c

[2015-08-03 02:49] kardianos commented on #24
Thanks. I'll look into it and see what's up.

[2015-08-03 02:54] jacobsa commented on #24
If it helps, you can reproduce this at GoogleCloudPlatform/gcsfuse@a7c1465. (Be careful about using `git status` to see what has been added, because the `.gitignore` file in that repo ignores tests in order to help work around this shortcoming in `govendor` and `godep`.)

[2015-08-03 03:24] jacobsa opened #25 "`govendor update` deletes all of the files in the package to be updated"
I'm using govendor at 9de80febcf158338d5eb650b395315d8d4a72a6e. For some reason, when I run `govendor update` it updates the JSON file to the wrong revision, and blows away the actual file to be updated:

[code]

Note the following:

*   `818d87d98848695a1f30e1710b6d3f8182b7329e` is the revision of the _dependant_ repo, not of the dependency being updated. The old revision (`13eb2958d3bd51261f6870

[2015-08-03 03:30] jacobsa opened #26 "Readme and help status lists don't list vendored status"
`govendor list` gives me a bunch of things with status `v`:

[code]

Nothing starting with `v` is in the list of statuses in README.md or the output of `govendor` as of 9de80febcf158338d5eb650b395315d8d4a72a6e.

[2015-08-03 03:31] jacobsa opened #27 "`govendor remove` panics: "should be listed internally but is not""
I receive the following panic when I attempt to `govendor remove` a dependency:

[code]

[2015-08-03 03:32] jacobsa commented on #27
(Reproduce with GoogleCloudPlatform/gcsfuse@818d87d98848695a1f30e1710b6d3f8182b7329e using `govendor` at 9de80febcf158338d5eb650b395315d8d4a72a6e.)

[2015-08-03 13:29] noonien opened #28 "GO15VENDOREXPERIMENT support appears to be buggy"
[code]

[2015-08-03 20:41] kardianos commented on #28
Oh, init is buggy. (looking for the vendor folder but failed to create in
"init") I'll fix soon.

On Mon, Aug 3, 2015 at 6:29 AM George Jiglau <notifications@github.com>
wrote:

[2015-08-05 06:15] jacobsa commented on #25
Ping. Out of all of the bugs I've filed, this is the only one that's actually keeping me from using govendor, and I'd really like to switch away from godep, which is even buggier. But I can't find a workaround. :-/

[2015-08-05 15:27] #28 closed

[2015-08-05 15:31] kardianos commented on #25
Ack. I've made some time this morning. I should have a fix soon.

On Tue, Aug 4, 2015 at 11:15 PM Aaron Jacobs <notifications@github.com>
wrote:

[2015-08-05 16:15] #25 closed

[2015-08-05 16:18] #26 closed

[2015-08-05 23:55] #27 closed

[2015-08-06 00:07] jacobsa commented on #25
@kardianos: Thanks for the fix! I can confirm that this mostly works for me now. It turns out that there were actually two bugs here, and only one has been fixed. I'll file the other one separately.

[2015-08-06 00:12] kardianos commented on #24
@jacobsa I think the govendor behavior where it failed to pull in all dependencies is fixed. I've tested but I'd like you to confirm.

Per issue #14, I would like to add two options when vendoring:
Ignore tags []string

Common tag ignores might be "test" and "appengine".

I'm tentatively not adding to CLI, but rather adding to the vendor.json file. By default "govendor init" would include ignoreTa

[2015-08-06 00:21] jacobsa opened #29 "`govendor update` puts incorrect revision in vendor.json"
I'm using govendor at b36aaa3777d87f88818d70d8a8a39a4b462cd9ab, with `GO15VENDOREXPERIMENT` set.

When I attempt to update a dependency whose repo in `$GOPATH` is checked out at a particular commit (i.e. with a detached `HEAD`) rather than sitting on the `master` branch, govendor gets confused and sticks the wrong revision in `vendor.json`. Instead of putting the checked out revision in, it puts t

[2015-08-06 00:27] jacobsa opened #30 "feature: Update source files based on the contents of vendor.json."
(Apologies if I'm missing this in the documentation.)

Say I have an existing repo with vendored dependencies set up by govendor, including a valid `vendor.json` file that describes exactly the current state of the vendored dependencies. Further, say that I want to update a dependency (call it `foo/bar`) to a specific revision, `123abcd`.

As I understand it, I must do the following:

    go get f

[2015-08-06 00:32] jacobsa commented on #29
Actually, this doesn't appear to require a detached HEAD. I can reproduce it even when just updating what `master` points to:

    rm -rf $GOPATH/src
    mkdir -p $GOPATH/src/github.com/{jacobsa,googlecloudplatform}
    git clone https://github.com/jacobsa/gcloud.git $GOPATH/src/github.com/jacobsa/gcloud
    git clone https://github.com/GoogleCloudPlatform/gcsfuse.git $GOPATH/src/github.com/google

[2015-08-06 00:44] jacobsa opened #31 "`govendor update` doesn't accept import path filter as documented"
I'm using govendor at b36aaa3777d87f88818d70d8a8a39a4b462cd9ab, with `GO15VENDOREXPERIMENT` set.

`govendor -h` implies that `govendor update` should accept an import filter. It even gives this example:

    govendor update +ven github.com/company/project/... bitbucket.org/user/pkg

But it doesn't seem to work for me. To reproduce:

    rm -rf $GOPATH/src
    mkdir -p $GOPATH/src/github.com/{jacob

[2015-08-06 01:05] jacobsa commented on #24
I do like your tag-based solution configured with `vendor.json`.

But I think I still see the dependency problem. Here's how I can reproduce, first using godep to get `$GOPATH` into a working state based on the current dependencies of my project:

    go get -u github.com/tools/godep
    rm -rf $GOPATH/src
    mkdir -p $GOPATH/src/github.com/googlecloudplatform
    git clone https://github.com/Goo

[2015-08-06 03:06] jacobsa commented on #29
By the way, @kardianos: this is currently the most pressing bug for me, if you're looking to give me a fix again like last time, since I'm still blocked from using govendor because I can't update correctly. :-) I appreciate your responsiveness.

[2015-08-06 03:17] kardianos commented on #30
Your analysis is correct. It currently isn't implemented but it would be good to have. It just hasn't been done yet.

[2015-08-06 03:24] kardianos commented on #24
@jacobsa Thank you for all the detailed repo cases. These are great!

I haven't tested this, but what I suspect is happening is that Godeps uses go build tags to determine dependencies so appengine isn't brought in.  Thus the test that relies on it fails. I'm guessing if you ran "govendor list +m" you would see appengine is missing. From first glance it looks like this would be solved by not vendo

[2015-08-06 03:33] #29 closed

[2015-08-06 03:36] jacobsa commented on #24
To be clear, I assume you're talking about [this](https://github.com/golang/oauth2/blob/8914e5017ca260f2a3a1575b1e6868874050d95e/google/example_test.go#L5) line from example_test.go?

    // +build appenginevm !appengine

As far as I can tell from [the documentation](http://golang.org/pkg/go/build/), this matches the boolean formula

    'appenginevm' present OR 'appengine' not present

Since I ha

[2015-08-06 03:57] jacobsa commented on #29
I can no longer reproduce this at d59b782f7c62686cc3da7371ac52793424a7cd4e. Thanks for the quick fix! :-)

[2015-08-06 03:59] jacobsa commented on #31
@kardianos: at d59b782f7c62686cc3da7371ac52793424a7cd4e the above reproduction instructions are now broken for me in a new way:

[code]

Could you please re-open and take a look?

[2015-08-06 04:37] kardianos commented on #24
@jacobsa I think you are correct, however at rev b36aaa3 it doesn't look like the vendor folder includes
"vendor/google.golang.org/appengine". Thus your command sequence didn't move it over nor vendor it. As you are setting the entire root, it wasn't able to find it. But as you noted, tests will still match it due to the !appengine tag.

As such, I *think* it is working as intended.

[2015-08-06 04:44] kardianos commented on #31
I just pushed an update that might fix or mask this issue.

Later I need to go through these issues and create some unit tests from them. Let me know if it works. If not, I'll take a look in the morning. Thanks!

[2015-08-06 04:44] jacobsa commented on #24
@kardianos: I think you got the wrong revision number; that's a govendor revision. Note that my instructions _create_ the `vendor/` folder using govendor. It's govendor that's not pulling in the dependency—that's the bug I'm talking about.

In other words: I think govendor should be pulling in `google.golang.org/appengine` when I run `govendor add +e` since that command also pulls in `golang.org/x

[2015-08-06 04:47] jacobsa commented on #31
That does appear to fix it, thanks. (Special note: I had to use `ba64985` instead of `6ce14c9` in the instructions because I rewrote history.)

I would appreciate it very much if you could add tests to avoid regressing, yeah. Thanks! :-)

[2015-08-06 04:47] #31 closed

[2015-08-06 05:09] jacobsa commented on #24
Perhaps the use of godep and my large project are confusing the issue. [Here](https://gist.github.com/jacobsa/358306654373a7f0de33/0359231791b91df17f812de7e14885a028f00157) is a tiny gist that shows the problem. Reproduce as follows:

    # Download the code, then download its dependencies.
    git clone https://gist.github.com/358306654373a7f0de33.git $GOPATH/src/foo
    cd $GOPATH/src/foo
    go

[2015-08-06 05:09] jacobsa commented on #24
(By the way, I'll point out again that this problem goes away completely if you just don't pull in tests, at least for this case.)

[2015-08-06 05:47] jacobsa commented on #31
@kardianos: I take it back, there remains a bug: If I run `govendor update foo/bar/...` that appears to update `foo/bar/baz` and `foo/bar/qux`, but not `foo/bar` itself. This is with govendor built at 421e9170c2ce937807c54475cc1a57f6a3a7be13. Could you take a look?

[2015-08-06 10:27] noonien commented on #28
Should the vendor.json file not be in the vendor folder?

[code]

[2015-08-06 10:32] noonien commented on #28
Actually, I've just read that the README.md specified that the vendor.json file is outside the vendor directory. Why not keep the vendor.json file in the vendor folder, so we don't pollute the root package directory.

Also, it would appear govendor can read vendor/vendor.json, but when saving the file is also saved to /vendor.json.

[2015-08-06 13:23] kardianos opened #32 "Make "co1/abc/..." match "co1/abc" as well as children."
Currently it doesn't match "co1/abc".

[2015-08-06 13:26] kardianos commented on #31
This was a bit by design, though I could see how it is surprising as I think it is different than what the "go" tool does. Opened #32 .

[2015-08-06 13:34] kardianos commented on #28
Yes, the tool will discover any "sub" vendor files and read that vendor file meta-data.

The vendor file used to be "internal/vendor.json". However when "vendor" folder was decided, I decided to move it to the root. That makes it easy to make the vendor folder a sub-repo or in the future ignore that  folder and fetch dependencies in real time.

I'm not stuck on the current locations. Implementatio

[2015-08-06 13:51] #32 closed

[2015-08-06 13:58] kardianos opened #33 "feature: fetch any missing packages recursively."
"go get" uses the current build tags to fetch remote packages. govendor will often use a broader set of build tags then "go get".

It would be nice to have a remote fetch that used govendor's tag list rather than the currently running system.

[2015-08-06 14:01] kardianos commented on #24
@jacobsa Yes, govendor will list it as missing and it goes away if we don't pull in tests.

There are open issues for not pulling in tests (soon to be addressed #9 #14). I just opened the issue #33 for fetching missing packages. Good points. Given those, let's close this issue.

[2015-08-06 15:16] kardianos opened #34 "make "govendor list" output easier to read and parse"
@jacobsa mentioned that "govendor list" wasn't the easiest to pick apart with a sed one liner. While you shouldn't need to do that too often, it should be reasonable to do.

I have also noticed the syntax for vendored projects are a bit verbose. That should be cleaned up.

Maybe something like:
[code]

[2015-08-06 22:54] jacobsa commented on #32
Thanks!

[2015-08-06 22:58] jacobsa commented on #34
Seems sane. Alternatively, a flag that turns off the extra stuff and prints only the package names (perhaps with the one character status)?

[2015-08-06 23:02] kardianos commented on #34
I have a flag already -v to list packages that import said dependency. I could only show the vendor path if the -v flag = true. Then normal output would be:
v <canonical-path>

[2015-08-06 23:02] jacobsa opened #35 "feature: add a restore command"
It would be nice if govendor had a "restore" feature, similar to `godep restore`, that set up all of the vendored packages in `$GOPATH/src` according to their revisions listed in `vendor.json`.

This would allow you to "de-vendor" your project if you wanted to for some reason. Here are a couple of reasons I've wanted to do so:

*   In order to easily make commits in one of the libraries I depend o

[2015-08-06 23:04] jacobsa commented on #34
Assuming you mean the output would be the following (your comment seems truncated):

    v co2/pk2

then I agree. This is actually what I would expect given the presence of the `-v` flag.

[2015-08-06 23:20] kardianos commented on #34
If you wouldn't mind, checkout master and see if that is better.

[2015-08-06 23:30] kardianos commented on #35
I'm not against adding it. I used to have an issue to track a possible restore command. I wasn't sure how the restore command should behave.

Because I will be adding filters by tags, not all files will be copied over. Thus we don't want to touch the destination for the restore command (we can't remove all in dest before copying over vendor package). However if files were added or renamed that may

[2015-08-06 23:55] jacobsa commented on #34
Looks good to me, thanks!

[2015-08-06 23:55] #34 closed

[2015-08-06 23:57] jacobsa commented on #35
That's actually quite a bit more complicated that I was thinking—I don't want to cary over local modifications, just `git clone <URL>` and then `git checkout <rev>`. Maybe "restore" is the wrong word.

I hear you about having `vendor.json` in order to be tool agnostic, but unfortunately nobody but you seems to support it today. :-/

[2015-08-07 00:04] kardianos commented on #35
Would this command be "remove" + "checkout into GOPATH" or would it be just "checkout into GOPATH"?

If just "checkout into GOPATH", it could be added as a switch in the fetch/update command in #30 . You could target the current project, or the first GOPATH env.

"govendor get -gopath +v" maybe?

[2015-08-07 00:15] jacobsa commented on #35
Clone into `$GOPATH` and check out revision would be fine with me. You're right that this largely overlaps with #30 (although is slightly different in scope because I want a working git checkout, not just a reduced set of files copied).

[2015-08-07 07:23] dghubble commented on #24
@jacobsa I think I've arrived here for the opposite reason, I noticed google.golang.org/appengine gets vendored as a dependency as a result of golang.org/x/oauth2/google/example_test.go when using +external. My initial expectation was that test deps wouldn't be vendored.

[2015-08-07 10:36] jacobsa commented on #24
@dghubble: I'm totally happy for test deps to not be vendored, as long as _tests_ aren't vendored either. The problem here is that govendor goes halfway: it vendors the tests, but not in a way where they can be built.

[2015-08-07 15:54] kardianos commented on #24
@jacobsa I'm fairly sure it would vendor test dependencies so long as they are in GOPATH. I'm sure you're busy, but if you don't think that is the case, could you modify "context/context_test.go" to provide a failing case? I am working on supporting build tags.

[2015-08-07 17:26] #9 closed

[2015-08-07 17:26] #14 closed

[2015-08-07 17:26] #24 closed

[2015-08-09 23:11] jacobsa commented on #24
@kardianos: Sorry you're right, that was unfair. As I fleshed out in my [earlier comment](https://github.com/kardianos/govendor/issues/24#issuecomment-128243779), the issue is that it's difficult for the user to pull in everything they need into `$GOPATH`, since each invocation of `govendor add` may require new things to be in `$GOPATH`.

Anyway, ignoring tests obviates this particular issue for m

[2015-08-09 23:55] jacobsa opened #36 "`govendor list` doesn't ignore dependencies of dependency tests, despite ignore tags"
I'm using govendor at 0d86ae9bf4b668294924306ec5dc3fe7d6d6b954.

[Here](https://gist.github.com/jacobsa/358306654373a7f0de33) is a gist for a small program that uses `golang.org/x/oauth2/google`. The latter package has a test that depends on `google.golang.org/appengine`, but the package itself does not.

When I use `govendor init` to set up a `vendor.json` file for my program, the file says to ig

[2015-08-10 00:04] jacobsa opened #37 "Telling govendor to ignore dependencies' tests causes it to ignore my tests, too"
In issue #24 I complained about `govendor add` pulling in the tests of the packages on which I depend. The solution in 0d86ae9bf4b668294924306ec5dc3fe7d6d6b954 was to add the `ignore` field to `vendor.json`, containing a list of tag to ignore.

I had assumed that this caused `govendor list`, `govendor add`, etc. to ignore those tags in the dependencies, but it also ignores them for my package. So,

[2015-08-10 00:40] jacobsa opened #38 "`govendor remove` requires me to first download the package to be removed"
I have a repo with `github.com/jacobsa/gcloud/gcs/gcstesting` vendored. I don't actually need this dependency, so I want to remove it. But `govendor remove` refuses to do so until I download it to `$GOPATH`, just for the sake of deleting it locally:

[code]

[2015-08-10 03:30] kardianos commented on #36
@jacobsa here is what I see on my system:
[code]
From what I can tell, appengine is referenced outside of the test files.

[2015-08-10 03:32] kardianos commented on #37
Oh dear. Yes, I failed to correctly apply this only to vendor files. Thank you for pointing it out. I'll work on a fix.

[2015-08-10 03:34] kardianos commented on #38
I need to add a test for this to make sure I don't break this again. Thanks for raising the issue.

[2015-08-10 03:39] jacobsa commented on #36
Interesting. Of course `appengine_hook.go` is irrelevant for me, because I'm not running on App Engine. It's as if this were in a file labelled `+build plan9`; i.e. for a different OS or architecture. Does it make sense for govendor to ignore such files, or is that too special-casey?

[2015-08-10 03:54] kardianos commented on #36
You could always specify in the "vendor.json" file:
[code]
This would ignore both test file and file with the appengine build tag.
...

My design for the vendor ignore is opt-out, designed to be the opposite of the build file directive which (when specified) is opt in. My rational for that is that typically you would want to be cross platform is applicable, but selectively opt out of tags, tests,

[2015-08-10 10:55] jacobsa commented on #36
Viewed that way it makes sense; I'm happy with that philosophy. Maybe it's worth sticking something to that effect in the readme?

[2015-08-10 23:02] #37 closed

[2015-08-10 23:10] #36 closed

[2015-08-10 23:20] #38 closed

[2015-08-11 01:09] jacobsa opened #39 "Vendor file at "vendor" not found"
Attempting to remove and re-add all vendored dependencies at GoogleCloudPlatform/gcsfuse@e46ae9b (in order to pick up govendor's new support for ignoring tests) causes govendor to delete the `vendor/` directory and confuse itself:

[code]

I suppose either `govendor remove` should not delete the directory, or `govendor add` should not require it to be present.

[2015-08-11 01:39] jacobsa opened #40 "`govendor add` skips file named register_test_suite.go"
I'm using govendor at abf359749e25f7430c63fd2401ecf4ba9870ab9c with `GO15VENDOREXPERIMENT=1`.

[Here](https://gist.github.com/jacobsa/eb34e3e07b47ab3c8572/d48cbb96afa18b0047d16db1625df22e8a5b1927) is a simple gist that has a dependency on [ogletest](https://github.com/jacobsa/ogletest). It builds fine without vendoring ogletest:

[code]

Vendoring ogletest breaks the test:

[code]

The error is:

[2015-08-11 02:12] #39 closed

[2015-08-11 03:05] #40 closed

[2015-08-11 15:38] jbuberel opened #41 "strange recursion when attempting to vendor a missing dep"
I am using a binary install of go1.5rc1 for Linux with the vendor experiment flag enabled:

[code]

I have a simple `$GOPATH` with a single entry:

[code]

The `dns.go` file is a simple testbed with one external dependency:

[code]

Running `govendor init` in the root of the $GOPATH yields the expected error:

[code]

So I change into the `dns` dir and re-run the command:

[code]

I then run `gove

[2015-08-11 16:12] #41 closed

[2015-08-11 17:02] jbuberel commented on #41
Thanks - working nicely now.

[2015-08-11 23:37] lvh opened #42 "How do I build a project with govendor'd dependencies from a tarball?"
I'm trying to build `rackspace/rack` from a tarball for homebrew. `go get` works  (i.e. eventually `go build` does a thing once it's done), once `$GOPATH` is set, but that just downloads all of the dependencies from scratch. How do I convince go build to use the `internal/` package?

[2015-08-12 03:49] kardianos commented on #42
@lvh While I don't know what is in your tarball, I am able to inspect github.com/rackspace/rack .
In rack they have copied all the needed dependencies locally. So all you need to do is just "go build" or "go install". You could even skip homebrew and just run "go get -u github.com/rackspace/rack" and it would get all the source you need to build it because all the source is in the repo.

It will u

[2015-08-12 11:29] jacobsa opened #43 "`govendor update` no longer ignoring test files"
I'm using govendor at 0a72ef19c20f33601809f0b99cb47e12a060385d.

Despite [my vendor.json file](https://github.com/GoogleCloudPlatform/gcsfuse/blob/dc6b7c1d5d9b9aab6bc9bb601d2308c2b10dceaa/vendor.json) saying to ignore the tag `test`, `govendor update` is still pulling in test files for me. Is it possible this has regressed with recent changes?

To reproduce, grab the latest version of jacobsa/gclo

[2015-08-12 14:49] lvh commented on #42
I've figured out the problem; not all of the dependencies were rewritten to be vendored, which is why it broke -- so it was an entirely upstream problem. You weren't able to reproduce the issue because they fixed it between the time we looked at it :) Thanks!

[2015-08-12 14:49] #42 closed

[2015-08-12 16:21] kardianos commented on #43
Confirmed. I can reproduce with a small update to a unit test. I think the regression happened when I updated it to not work on local files.

[2015-08-12 18:06] kardianos commented on #43
Ha ha! Ok, the reason it is failing is because I'm ignoring files on copy (opt-out) rather the list file to copy (opt-in). When it lists files for packages that are already vendored the files to ignore are not present (it is looking at the vendor directory) so it doesn't opt-out of the test files for the copy. Let me think about the fix...

[2015-08-12 18:39] #43 closed

[2015-08-19 17:36] kardianos opened #44 "design: address handling remote packages"
This issue is to track a design that will:
 1. Update the vendor folder based on the content of vendor.json #30
 2. Fetch missing packages recursively #33
 3. Fetch a full repo into GOPATH at the revision specified in vendor.json #35
 4. Update or add a package from a remote path and version.

[2015-08-19 18:35] kardianos commented on #44
The CLI can support (2) and (4) by adding a "-u" flag to the "update" and "add" commands. New flag in the context for AddRemote and UpdateRemote.

(4) will also require supporting reading import paths to the add/update command like: "my/import/path@abcd0123" or "my/import/...@v12345".

(1) will probably use AddUpdateRemote, filling in the revision in for each package.

[2015-08-19 21:34] vishr opened #45 "Fails to remove import comment if go file has no imports."
Getting error while trying to add vendor code using the command

`govendor add +ext github.com/garyburd/redigo/redis`

Sample code

[code]

[2015-08-19 21:58] kardianos commented on #45
I'm going to need more information to reproduce. When I tested it appeared
to work correctly. Do you have "GO15VENDOREXPERIMENT=1"? Is this in a
larger project?

-Daniel

On Wed, Aug 19, 2015 at 2:34 PM Vishal Rana <notifications@github.com>
wrote:

[2015-08-19 21:58] kardianos commented on #45
What revision are you using of govendor?

On Wed, Aug 19, 2015 at 2:57 PM Daniel Theophanes <kardianos@gmail.com>
wrote:

[2015-08-19 22:03] vishr commented on #45
The sample code provided above is the only code where I tested it. I am using the latest govendor tool. Did you try to run or build the example? That's when I get the error.

[2015-08-19 22:07] kardianos commented on #45
govendor is failing to scrub the import comment. Thank you for the report. I'll look into and provide a fix soon.

[2015-08-19 22:46] #45 closed

[2015-08-19 22:47] vishr commented on #45
It works, thank you.

[2015-08-30 18:38] anonx commented on #10
@kardianos Sorry for too late reply. I think the new API is waaay better than the old one. Well done. :+1:

[2015-09-04 12:51] dpiddy opened #47 "vendor.json is executable"
Checking out govendor and noticed that `vendor.json` is executable:

[code]

[2015-09-04 20:18] kardianos commented on #47
That's embarrassing. I'll fix soon, I've got a dev branch going. Thanks!

[2015-09-04 20:50] cep21 opened #48 "feature: add "check status" and "check diff" sub commands."
I'm worried about being unable to verify that the code vendored inside /vendor/... is the exact code referenced by the vendor-spec file.  Is there a way to verify this?  Some kind of "govendor check" command?

[2015-09-05 16:18] #47 closed

[2015-09-05 16:26] kardianos commented on #48
@cep21 Maybe... govendor can omit files based on tags and test status, so a direct compare might give false positives. The biggest advantage for a command like this for me is to compare it to a different source or revision, especially to check for local changes or remote changes. Maybe: `govendor check status [+status] [import paths]` and `govendor check diff [+status] [import paths]` .

There mig

[2015-09-08 07:12] cep21 commented on #48
That sounds reasonable.  The "omit files based on tags and test status" part should still be reverifyable since that ignored information is stored in the vendor spec, right?

[2015-09-08 15:39] kardianos commented on #48
@cep21 Correct. The tags that are ignored is stored in the vendor-spec.

[2015-10-03 17:46] harshavardhana opened #51 "govendor migrate doesn't work"
[code]

We do not use Godeps instead we use Golang's standard GO15VENDOREXPERIMENT=1

[code]

[code]

[2015-10-05 16:00] kardianos commented on #51
If you're using Godeps, last time I looked, it would always would use Godeps/Godeps.json.

At what revision of minio were you using this on? What revision of Godeps do you use?

[2015-10-05 16:16] harshavardhana commented on #51
We do not use Godeps, we just use GO15VENDOREXPERIMENT=1 and use govendor to vendorize the project.

[2015-10-05 16:39] kardianos commented on #51
oh!
That would explain what I was seeing. Let me take a look; probably a bug, one sec.

[2015-10-05 16:46] kardianos commented on #51
Hmmm, Could you ensure you have the latest version of "govendor"?
[code]
Then in your repo root, run "govendor migrate", it appeared to work for me, using latest.

[2015-10-05 16:50] harshavardhana commented on #51
It worked!

[2015-10-05 16:50] #51 closed

[2015-10-06 20:18] jmunson opened #52 "feature: add quiet flag to suppress the first column of output"
When using a vendor/ directory, any go tool that uses ./... will run against all vendored code.  I wish this would change upstream, but for now I've worked around it by using govendor list.

Unfortunately to use it in places I would otherwise use ./..., I have to strip the first column of output.

So for example if I wanted to run gometalinter against all local code, I use:
```gometalinter $(goven

[2015-10-06 22:45] kardianos commented on #52
Sounds reasonable.

[2015-10-07 16:45] captncraig opened #53 "Allow configurable destination directory"
One problem I have is that a lot of tools will traverse into the `internal` directory if I do for example `go vet ./...`

It causes a lot of false positives and things like that when I have a lot of dependencies. If I put them into an underscore directory like `_third_party`, then it does not have this problem. Could we add an option to make the destination directory configurable?

[2015-10-07 16:48] kardianos commented on #53
Not a bad request. However the direction I see vendoring going right now is to use the "vendor" directory with what is now the "GO15VENDOREXPERIMENT" flag. I know it isn't even the default, but the plan is to turn it on by default in go1.6.

[2015-10-08 15:04] kardianos commented on #53
To follow up, is there a reason not to transition to the "vendor" folder experiment? The actual code change to add a parameter is tiny.
 * What are your immediate needs?
 * What is your long range plan?

[2015-10-08 15:09] captncraig commented on #53
I do plan to move to vendor, but not until it is the default bahaviour. I suppose at that time I will need to confront the problem of vendored code being included with vet and such anyway, until I find a good way to exclude those packages. I'm sure I can come up with a fancy bash incantation to invoke vet on only my code or something like that.

If this feature was implemented, I would certainly u

[2015-10-08 15:14] kardianos commented on #53
I could see allow setting an environment variable to set the directory
location. The change would be so small, it would probably be worth it.
Would that work for you?

On Thu, Oct 8, 2015 at 8:09 AM Craig Peterson <notifications@github.com>
wrote:

[2015-10-08 15:17] kardianos commented on #53
I'm open to other ideas as well.

[2015-10-08 16:01] captncraig commented on #53
That sounds good to me.

[2015-10-14 21:02] pquerna commented on #52
+1, would be helpful.  using some awk right now in a similar fashion to @jmunson 's examples

[2015-10-14 21:53] kardianos commented on #52
Proposing list sub-command "-no-status" flag name. Opinions?

[2015-10-15 19:22] #52 closed

[2015-10-15 19:52] #53 closed

[2015-11-12 03:11] ansel1 opened #56 "rewrite: Check and fix import paths for dependencies already vendored"
Say I've vendor a dependency with import re-writing.

Then another developer comes along and adds an import statement to another source file for the same package, but doesn't refer to the vendored copy.  Would be great if `govender add +e` fixed these un-prefixed import statements.

They happen quite frequently in our environment, as our IDE tries to help with import statements, but doesn't priori

[2015-11-12 05:00] ansel1 opened #57 "govendor remove +all is very dangerous"
I was expecting this to just unvendor those packages listed in vendor.json, but it instead deleted all the files in my project package (even the non-.go files), and a number of packages where either half-removed or entirely removed from my $GOPATH.

I understand the command I probably should have run is `govendor remove +v`, so I'm not sure if remove +all is even semantically meaningful, but it de

[2015-11-12 05:05] ansel1 opened #58 "rewrite: remove +p leaves the package entry in the vendor.json"
I was experimenting with vendoring some external main packages which build command line tools we use.

Try this:

    mkdir $GOPATH/src/asdf && cd $GOPATH/src/asdf
    govendor init
    govendor add github.com/jstemmer/go-junit-report
    gevendor remove github.com/jstemmer/go-junit-report

go-junit-report is removed from the internal folder, but the entry remains in vendor.json.

[2015-11-12 05:15] ansel1 opened #59 "rewrite: main packages mixed in normal package don't have imports rewritten, resulting in cyclic dependencies"
try this, in an empty package, after `govendor init`:

    govendor add github.com/lib/pq
    govendor list

output:

    u github.com/lib/pq
    e github.com/lib/pq/oid

Looks like an external dependency was missed.  Try adding it:

    govendor add +e
    govendor list

output:

    v github.com/lib/pq
    v github.com/lib/pq/oid

Those should be unused, since I have no source files at all.  I b

[2015-11-12 14:53] ansel1 opened #60 "Using GO15VENDOREXPERIMENT with packages which have import re-writing vendored dependencies"
Try adding govendor itself to a project with GO15VENDOREXPERIMENT set.  Then run `govendor list`.  It will show `github.com/dchest/safefile` as both "u" and "e".  This is because govendor correctly detected `github.com/dchest/safefile` as a dependency of govendor, and vendored it, but govendor vendors `github.com/dchest/safefile` itself, using import rewriting.  The tool did not rewrite those impo

[2015-11-12 15:16] ansel1 opened #61 "vendoring github.com/mattn/go-sqlite3 does not include required C files"
govendor should probably include the C files when vendoring projects.

[2015-11-12 15:48] kardianos commented on #61
This is a known problem. I actually have thought about the best way to support something like this but haven't come to firm conclusions.

govendor will copy C files if they are in the same directory. If they are in a different sub-directory, then it doesn't know to pull those files in as well. There are several ways you could approach this situation:

 1. ask go-sqlite3 to put in a stub go file in

[2015-11-12 15:51] kardianos commented on #60
Right now govendor supports both import path rewriting and the vendor folder. In order to switch from import path rewriting to vendoring, the user is expected to use "govendor migrate". So before "govendor list" is called, it should first be migrated when the flag is set to 1.

Does that make sense? Or did I miss a point?

[2015-11-12 15:56] ansel1 commented on #60
Ok...well, I was starting with a fresh project that wasn't using either.  I had GO15VENDOREXPERIMENT set first, then did `govendor init` and `govendor add +e`.

That mostly worked, vendoring everything, without import rewriting.  The problem came when I did `govender add github.com/kardianos/govendor`.  That vendored `govendor` alright, but the vendored copy still contained import statements refer

[2015-11-12 16:00] ansel1 commented on #61
Hmm...I guess (3) is probably best.  I was thinking, just treat *.c and *.cpp as if they were *.go files and include all of them, no matter where they lie in the source tree, but there could be other file types required by a cgo build.

[2015-11-12 16:05] kardianos commented on #60
True. I ran into this myself. Honestly this is why it is important to agree on a single method. If we use the vendor folder, all packages should switch to using this. That way everyone can agree on what happens.

The trouble comes in is that when govendor is using the vendor folder, it assumes all other files (including the "internal" files) are package files; it doesn't search for other "vendor.j

[2015-11-12 16:19] kardianos commented on #61
The issue at hand is that govendor doesn't copy repositories; it copies packages. So if C and CPP files are within the same directory, it will copy them. It just doesn't know to copy that sub-directory.

I agree with you that (3) would be a good option to have in cases like this.

[2015-11-12 16:19] kardianos commented on #59
Thanks for the report. I'll look into this.

[2015-11-12 16:20] kardianos commented on #58
Thanks for the report. I'll look into this.

[2015-11-12 16:22] kardianos commented on #57
I kinda chuckled when I read this title and thought, wow, that would be bad...

So I agree with you that some of the status should only be used with the "list" sub-command. The "add" and "remove" should only act on some of them.

[2015-11-12 16:23] kardianos commented on #56
This is a good idea.

I am trying to move code to using the "vendor" folder completely, so if this is an easy fix, it might be done, but for the most part I want to focus effort on the vendor folder, not import path rewrites.

[2015-11-12 16:27] ansel1 commented on #60
That seems reasonable, but then something else the tool could have done that would have worked is vendored `github.com/kardianos/govendor/internal/github.com/dchest/safefile`, which it didn't.  It's weird.  It vendored `github.com/dchest/safefile`...so it's like, it recognized that safefile was a transitive dependency, and tried to flatten it.  Even wierder, the it not flatten the other two packag

[2015-11-12 16:28] ansel1 commented on #56
that's reasonable.  Do one thing well.

[2015-11-12 16:32] kardianos commented on #60
I'll look into it for sure. I think it did read the vendor file, but didn't rewrite the imports (wrong mode).

I think the fix is to only read vendor files in the vendor folder per the spec.

[2015-11-12 21:26] ansel1 commented on #57
`remove` can also be very dangerous when specifying specific packages.  I was in a sub-package of a project.  I did `gevendor remove github.com/jinzhu/gorm`.  That removed the gorm from the vendor folder.  Run `gevendor remove github.com/jinzhu/gorm` again.  That removes gorm from my $GOPATH.

Seems like there should be circuit breaker that ensures that under no circumstances should govendor be de

[2015-11-12 21:45] kardianos commented on #57
Agreed on all counts. govendor has such a breaker for rewrites. govendor needs one for remove as well. Thanks.

[2015-11-13 00:51] kardianos opened #62 "correctly report package as external"
If an external package contains a vendor folder with a package, the vendored package will be reported as "v" rather than "e".

[2015-11-14 23:52] kardianos commented on #62
Fixed in https://github.com/kardianos/govendor/commit/54e1e7521dcb38a9b5a0370317333966b4b4a6b7

[2015-11-14 23:52] #62 closed

[2015-11-15 00:05] #57 closed

[2015-11-15 06:46] kardianos commented on #59
govendor on the default branch now only supports the vendor folder. A new branch called "rewrite" supports import path rewrites.

[2015-11-15 06:46] #59 closed

[2015-11-15 06:46] kardianos commented on #58
govendor on the default branch now only supports the vendor folder. A new branch called "rewrite" supports import path rewrites.

[2015-11-15 06:46] #58 closed

[2015-11-15 06:46] kardianos commented on #56
govendor on the default branch now only supports the vendor folder. A new branch called "rewrite" supports import path rewrites.

[2015-11-15 06:46] #56 closed

[2015-11-15 06:47] kardianos commented on #60
This should be fixed. But regardless, I don't have the time to support two modes.

govendor on the default branch now only supports the vendor folder. A new branch called "rewrite" supports import path rewrites.

[2015-11-15 06:47] #60 closed

[2015-11-17 00:49] cep21 opened #63 "govendor update & list is slow"
After doing a ```go get -u github.com/kardianos/govendor```

Running it with strace shows it repeatedly reading from files inside the ./vendor directory

This is a somewhat large repository, but not *this* large!

[code]

[2015-11-17 00:53] kardianos commented on #63
Yeah, That does appear to be a bit excessive. Probably it is just re-reading files when it needs to just look at cache.

[2015-11-17 00:57] cep21 commented on #63
We're also having trouble using ```govendor update```.  It will also run for a very long time then end without actually updating any code.  The only way we currently have to update code is ```rm -rf vendor && govendor init && govendor add +ext```.  It's very disappointing and reproducible on multiple macs, but on our private repository.  There is no verbose log option for govendor so I don't have

[2015-11-17 02:03] kardianos commented on #63
Eep. I'll profile.

On Mon, Nov 16, 2015, 16:57 Jack Lindamood <notifications@github.com> wrote:

[2015-11-17 21:25] kardianos commented on #63
Fixed in a0adb8be6318afff204a39a67c04c4d41087a810 and 5c6a5e5fca6d1c7a5f5bd51bacdd4435472e23b7 .

[2015-11-17 21:25] #63 closed

[2015-11-18 14:12] kardianos commented on #44
Current thinking is to add one primary command: `govendor fetch [-u]`
And one helper command: `govendor get [-u]`
And add a new meta status called `+dependency = +ext +ven +m`

 * `fetch` will be used to get packages that are not in vendor folder currently, like a network add command.
 * `fetch -u` will be used to get or update packages into the vendor folder, like a network add/update command.
 *

[2015-11-18 14:19] kardianos commented on #44
In addition to the above, path input parameters will be adjusted so that if they will be split on the first "@" rune. To the right of the "@" will be passed into the vcs fetch command to get a specific version. To the left of the "@" will be the path.
`path@version`

[2015-11-18 15:37] kardianos commented on #44
Feedback from Peter Bourgon, might want to hold off on `govendor get`. Confusing with fetch, other commands require a workspace to already exist.

[2015-11-18 16:09] kardianos commented on #44
Chris Hines and Robert Melton describe a hybrid approach.
Chris: Copy third party code into project, clone at revision for internal related projects.
Robert: Put third party unmodified code into vendor dir, put modified and own code into project dir.

[2015-11-20 22:42] kardianos commented on #44
Idea: add a package field called "track": "branch-name".
Then `govendor fetch -u mypkg` will update to the latest under the "track" branch.

[2015-12-08 23:38] ardan-bkennedy opened #66 "vendor file loaded with entries for non vendored packages"
using github.com/ardanlabs/kit

Remove and re-create the vendor folder
On the command line navigate to the vendor folder
$ govendor add gopkg.in/mgo.v2

Look at the vendor.json file. Every import is loaded into the file though only this one package was vendored.

[2015-12-08 23:39] kardianos opened #67 "context: sets package status as (v) rather then (m) if in vendor file"
If a vendor package is present in the vendor file but not on disk, it is listed as (v) rather then (m). It should be (m).

[2015-12-08 23:40] kardianos opened #68 "context: records all dependencies in vendor file when just one is"
govendor add <single path with deps>

Will record many dependencies in the vendor file. Should just be what was added.

[2015-12-08 23:44] ardan-bkennedy opened #69 "missing vendor packages should be (m)"
I have seen from issue [https://github.com/kardianos/govendor/issues/68] where the missing package is not listed as (m) but (e).

[2015-12-09 16:42] #67 closed

[2015-12-09 16:42] #69 closed

[2015-12-09 16:46] kardianos commented on #68
Duplicate of #66

[2015-12-09 16:46] #68 closed

[2015-12-09 16:48] kardianos commented on #66
As you noted, I'm unable to reproduce this at this time. It may have to do with the origin path where they came from before. I'll leave this open for now and might try to reproduce it when I have a bit more time.

[2015-12-10 20:36] kardianos opened #70 "add tests to determine what package is vendored from where"
Even if it changes, test to ensure it is implemented correctly:

William Kennedy [12:03 PM]
When I call govendor add github.com/ardanlabs/kit
I want you to pull from $GOPATH/src/github.com/ardanlabs/kit
If it is not found there, report it does not exist
I don;t care if it is vendored somewhere else
Now….
That is all that is vendored
none of its dependencies, nothing else
I will use govendor list
I

[2015-12-24 12:17] harobed opened #71 "go-sqlite3 build error because "code" folder missing"
When I try to use ```go-sqlite3``` with govendor, I've this error :

[code]

With ? before govendor, this is the ```go-sqlite3``` directory structure :

[code]

after "vendoring" :

[code]

```sqlite3-binding.* ``` aren't in ```code``` folder !

[2015-12-24 20:14] kardianos commented on #71
This is a duplicate of #61
I plan to add a -tree option to allow copying all nested folders too.
For now, copy by hand :/

[2016-01-04 16:47] abourget opened #72 "feature: add subpackages in a swift with `package/...`"
I was vendoring `github.com/raphael/goa` and its subpackages `goagen` and a few subpackages therein.. so I specified:

`govendor add github.com/raphael/goa/goagen/...`

`govendor` did add `goagen` to the `vendor.json` file.. but not its subpackages. It got me searching quite a bit since the errors didn't point to the missing repos at all (although that's a `go build` issue).

Since `govendor` acce

[2016-01-04 17:46] kardianos commented on #72
Hi @abourget , This is a known issue. I really need to tackle this quickly. This is a duplicate of some other issues, though I'll leave this open for easier finding. Right now the "/..."   only matches existing go packages. I need to add a switch or syntax to also blindly fetch the entire sub-tree.

I'll keep these issues posted. I hope to have this fixed at a tool level in a week. Until then just

[2016-01-05 22:58] penguinpowernz opened #73 "feature: Add an installation section to the README"
I can't figure out how to install this thing.  Please help noobs like me and add an installation section to the README.

Cheers :)

[2016-01-05 23:04] kardianos commented on #73
go get github.com/kardianos/govendor
?

I can add a section to README too.

On Tue, Jan 5, 2016 at 2:59 PM Robert McLeod <notifications@github.com>
wrote:

[2016-01-08 04:50] penguinpowernz commented on #73
Ah right sorry my envvars weren't setup properly....

[code]

[2016-01-08 04:50] #73 closed

[2016-01-09 14:27] james-lawrence opened #74 "Add some type of "quick start" to the README"
I expected govendor add to be able to fetch packages but it doesn't seem to.

This should be made clear in the documentation if there is no way to actually fetch a package.
Happy to add it to the documentation just wanted to make sure this feature was intentionally left out of the govendor project, and not just me missing something.

[2016-01-15 01:35] kardianos opened #75 "Thinking: details of what to do when updating packages"
When updating packages that have added or removed sub-packages, there may be other actions that need to take place or warnings checked.

For instance, it *might* be needed to do the following:
`govendor update +v && govendor remove +u && govendor add +e`
to handle these edge cases (confirm).

Of course `govendor list` will diagnose any issue.

Strongly leaning towards checking for such edge cases

[2016-01-16 16:35] kardianos commented on #61
@ansel1 Would you be willing to test the "tree" branch and provide feedback:

I'm hoping to get some feedback before merging it in.

[2016-01-16 16:37] kardianos commented on #72
@abourget Would you test the "tree" branch? To match existing go packages, you use "/..." syntax. To add a full folder tree, use "/^" or the "-tree" option. More info in the README or help.

I hope to get some feedback on it before merging it in.

[2016-01-18 19:16] abourget commented on #72
the error I get is this one, which is tangential to the issue:

[code]

so it doesn't try the other directories.. I've hit this one many times.

[2016-01-18 19:16] abourget commented on #72
Now after removing `goa/goagen`, I get:

[code]

Not sure what to do here..

[2016-01-18 19:18] abourget commented on #72
Hmm.. after running:

[code]

the `vendor.json` is still full of the `goa` packages.

[2016-01-18 19:22] abourget commented on #72
Running:

[code]

This is surprising, as `raphael/goa-middleware` is not the same subtree at all! :)

[2016-01-18 19:26] abourget commented on #72
So as you might see, my use case in particular is the `goa` package.. which, if you want to be able to rebuild your code, needs `goagen` to be present, along with a couple of other `goa_*` packages..

I wanted to be able to add those in a swift, so I though specifying `goa/...` would have brought them all in..

I appreciate the fact that `govendor` cleans up before doing the vendoring, not bringin

[2016-01-18 19:27] abourget commented on #72
So last shot, after removing things in `vendor/github.com/raphael/goa`, and running:

[code]

Perhaps it's because of the `goa-middleware` being in the way.. so I took it out, both from `vendor/` and from the `vendor.json` file.. and ran it again.. and got the same output:

[code]

so I'm stuck here :)

thanks for giving it a shot !

[2016-01-18 19:58] kardianos commented on #72
@abourget I probably have issue with a sanity check. Let me look into that and get back to you. Thanks for testing + error message!

[2016-01-18 20:55] kardianos commented on #72
@abourget I've just pushed a change to the "tree" branch that should resolve this issue. Thanks again for testing this.

[2016-01-21 18:41] grobie opened #77 "Missing license files"
govendor does not seem to migrate `LICENSE` files (and similar license related files). This violates the license of many projects.

[2016-01-21 18:45] grobie commented on #77
godeps had the same issue https://github.com/tools/godep/issues/245.

[2016-01-21 18:46] kardianos commented on #77
Agreed this is an issue. I'll look into fixing next. Thanks.

[2016-01-21 18:52] juliusv commented on #77
Related discussion in Godep about it: https://github.com/tools/godep/issues/245

[2016-01-21 19:12] kardianos commented on #77
Thanks. This should be a relatively easy fix to do; I'm not too concerned. I just need to update a single function to correct it.

[2016-01-21 19:13] grobie commented on #77
My biggest concern is how to identify all possible license related files. Looking at the godep issue there seem to be quite a few odd ones despite the common `LICENSE` and `NOTICE` ones.

[2016-01-21 19:14] grobie commented on #77
The second challenge might be LICENSE files which are at the root of a repository and not necessarily at the package location.

[2016-01-21 19:20] kardianos commented on #77
Unlike godeps, govendor copies all files over for a given project directory. So if the license is in the same package, it is a noop. When govendor ignores test files, it does so as a subtraction from all files.

So the required change will be to recurse down and discover license files. I'll read the godep issue to discover what filters I should apply.

There will be another change needed for the e

[2016-01-22 17:01] kardianos commented on #72
This is now fixed on master.

[2016-01-22 17:01] #72 closed

[2016-01-22 17:03] kardianos commented on #61
vendoring now as a tree like `govendor add github.com/mattn/go-sqlite3/^` will add all subfolders too.
Fixed with the addition of tree feature.

[2016-01-22 17:03] #61 closed

[2016-01-22 17:04] kardianos commented on #71
Fixed on master now.
`govendor add github.com/mattn/go-sqlite3/^`
will copy package and all sub-folders.

[2016-01-22 17:04] #71 closed

[2016-01-24 16:32] myitcv opened #79 "govendor equivalent for git status --porcelain"
Apologies if I've missed this somewhere, but I believe there is merit in a `govendor` option equivalent in behaviour and output of `git status --porcelain`.

Let's assume we setup `govendor` for a given project as follows:

[code]

At this point, `vendor/vendor.json` will look something like this:

[code]

Now assume we make a change to a file in the vendored copy, e.g. `vendor/gopkg.in/check.v1/c

[2016-01-24 18:08] kardianos commented on #79
@myitcv I've read this and have some thoughts on it. There is merit to what you propose. However, I would also want to be able to say "This package is modified, but changes were on purpose and should be kept and propagated." *maybe* storing a patch flle of the diff...

Why would you vendor something and then modify it?
 * Remove extra files that added dependencies I don't want or use (rare, but ha

[2016-01-29 01:25] jpillora opened #80 "govendor equivalent for godep save"
this works:
[code]
though maybe there's a better way?

[2016-01-29 06:28] kardianos commented on #80
@jpillora Could you describe what you are wanting to accomplish? What movement of files do you want to see?

[2016-01-29 06:31] jpillora commented on #80
`godep save` looks at all external dependencies for my app and copies them locally into `Godeps/`

I know I can do `govendor add foo`, then `govendor add bar`, etc. though is there a way to just add all external deps at once?

[2016-01-29 06:42] jpillora commented on #80
Found it `govendor add +external`

[2016-01-29 06:42] #80 closed

[2016-01-29 06:45] jpillora commented on #80
I tried `govendor add` and help appeared, so I thought I was missing the path. No paths worked.

Maybe
[code]
Could become
[code]
Since the `[]` generally denote optional and also it will make it match `list` which has `+<status>`

[2016-01-29 21:43] kardianos opened #81 "feature: "govendor add" should list specific options for the add sub-command"
Rather than just showing the full help, show the specific help message.

See #80 for motivation.

[2016-01-29 21:44] kardianos commented on #80
Fair points. Thanks for taking time to write that up. I've filed a new issue and linked it to this one.

[2016-01-30 00:52] #81 closed

[2016-01-30 01:52] jpillora commented on #80
No worries, and thanks for tackling vendoring in Go - I think this tool will get more traction once 1.6 lands

[2016-01-30 20:11] myitcv commented on #79
hash that represents the content.

This sounds well beyond the scope of a tool like `govendor` and rather more the realm of `git`.

For the cases you describe (which I agree are valid use cases), surely it's easier to either:

1. maintain a fork of a package you're interested in where you can pull in changes from upstream as well as make any custom modifications etc
2. create your own repo which c

[2016-01-31 17:29] kardianos commented on #79
For a feature defined as: "provide a simple way for a user to ensure the content of the vendor folder has not been altered after copying", I think the easiest way to determine if the contents of vendor is true is to hash and store the hash when they are copied into vendor. However, it is true that you could simply fetch the original source and compare on demand. The difference would be speed and a

[2016-02-03 00:13] tv42 opened #83 "Ignore error when parsing import paths"
`govendor` doesn't seem to provide the usual `goX.Y` build tags, which leads to some annoying behavior:

[code]

[2016-02-03 00:29] kardianos commented on #83
Yes and no. This is actually an interesting use case. Thanks for bringing it up.

govendor does *not* respect your environment build tags, but it does read and selectively ignore build tags that you specify in the "vendor.json" file. By default it ignores the "test" build flag.

This is the designed behavior; I want to vendor all os and arch files by default, unless explicitly ignored.

The issue

[2016-02-03 01:13] tv42 commented on #83
In an ideal world, people wouldn't need to encode error messages in import paths.. :-/

[2016-02-04 01:08] kardianos commented on #83
For reference: https://camlistore.googlesource.com/camlistore/+/master/depcheck/min_go_version.go

[2016-02-04 05:08] FrenchBen commented on #74
Not sure what you mean - the docs says: `govendor add <package-name>` or you can also do it by filters, such as: `govendor add +external`

[2016-02-04 05:13] FrenchBen commented on #44
Not sure if this is the right place, but it would be nice if the recursion was smart enough to prevent this error:
`govendor add +e`
`Error: Package "github.com/some/app/vendor/github.com/some/package" already in vendor.

I may be using the wrong command, but if we look at something like `npm install` it checks the existing packages and adds what's missing

[2016-02-04 16:21] kardianos commented on #74
@james-lawrence govendor currently copies in new packages from GOPATH. I plan to add fetching from remote repos directly into the vendor folder, but it isn't done yet.

@FrenchBen You are correct, to add packages from GOPATH, use "add" sub-command.

[2016-02-04 16:26] kardianos commented on #44
@FrenchBen: Internally add and update are (almost) the exact same code path. I just have additional checks for add. That error shouldn't happen when adding external packages. Can send the steps to reproduce that from `add +external`?

I don't want to use the "install" sub-command, but would be fine with the idea to add or update command. Any idea for a word to use? Maybe "merge" or "latest" or ...

[2016-02-04 16:26] kardianos commented on #44
@FrenchBen I could also see combining update into add, so there is only "update", then if you really want to just add, then you could use a flag.

[2016-02-04 23:39] FrenchBen commented on #44
I think combining `update` and `add` would be the cleanest.
How to reproduce:
[code]

[2016-02-04 23:44] FrenchBen opened #84 "README example issue"
In the README.md there is a section at the bottom, which has examples, such as:
[code]

The issue is that in many shell env, the use of `!` is treated as a 'recall last command' - Following the CLI examples, running:
`$ govendor list +local,!prog`
expands into:
`$ govendor list +local,govendor list +vend,prog +local,program`

[2016-02-05 00:06] kardianos commented on #84
That's not very nice. I was using fish, not bash. *sigh*

I'll think of a new negation operator.

[2016-02-05 18:26] FrenchBen commented on #84
:+1: Thanks!

[2016-02-05 21:55] #84 closed

[2016-02-05 21:57] FrenchBen commented on #84
:+1: thanks for the quick turn-around!

[2016-02-06 22:19] kardianos commented on #83
I think the correct thing to do is to ignore this error when parsing the file. That will correct this issue.

[2016-02-08 22:47] #83 closed

[2016-02-09 00:12] #77 closed

[2016-02-09 03:20] cespare opened #85 "Don't remove import comments"
What's the reason for removing import comments? They're ignored in the Go 1.5 vendor experiment:

I'd prefer if my vendoring tool didn't make edits to the code. Is it possible to add an option to not remove import comments, or just change the behavior?

[2016-02-09 03:51] kardianos commented on #85
A hold over from import path rewriting. Agree, should remove.

On Mon, Feb 8, 2016, 19:20 Caleb Spare <notifications@github.com> wrote:

[2016-02-14 02:36] kardianos commented on #85
@cespare I just checked. govendor doesn't remove import comments when moving files over. Can you give me an example where that seems to be the case?

[2016-02-14 02:54] cespare commented on #85
I didn't try it. I was going off this feature listed in the readme:

and also some code which does import comment removal.

Perhaps only the rewrite branch removes import comments? If so, maybe the readme just needs an update.

[2016-02-14 03:05] #85 closed

[2016-02-14 03:05] kardianos commented on #85
Thanks for noticing. I've updated the README.

[2016-02-14 03:42] cespare commented on #85
Glad it was as easy as that :)

[2016-02-16 12:28] myitcv commented on #79
True. But note that this also catches the scenario (assuming the remote is available) when you are referencing a local commit that _should_ have been pushed remotely (i.e. under normal operation, with the remote available, everyone should be able to reference the commit mentioned in `vendor.json`)

I tend to consider availability of the remote, whilst an important consideration, to be an orthogona

[2016-02-16 16:36] kardianos commented on #79
@myitcv I would be interested in hearing more about your use case and why you decided to go with that approach, and what your tooling looks like, simply to understand more people's workflow.

[2016-02-19 14:29] gm42 commented on #80
Isn't it worth mentioning in documentation how to create an useful `vendor.json` starting from a random project X checked out via git? And I mean by automatically creating the `vendor.json` based on what's actually needed to build the binary(ies) of such project, which can then of course be adjusted manually.

I have not been able to use the `add` command to achieve this so far; I would probably m

[2016-02-20 20:15] pkieltyka commented on #74
Excellent package. I think it could use some updates to the README to give very clear and simple instructions on common use cases, which is to init and add packages needed for vendoring dependencies of the project. Another would be how to list all the packages that need updating, and then command to update one or all, and how to remove / prune a list if a dependency is no longer required. Aside fr

[2016-02-20 21:26] pkieltyka opened #86 "Fail to add external packages"
For reasons I dont know, govendor got stuck at the error:

[code]

See https://gist.github.com/pkieltyka/59b31d93f42a0d96fade for some console output. The only way I could move past this is to fork and patch by skipping the error and allowing the program to continue  https://github.com/pkieltyka/govendor/commit/37312afdb04c5fe3d33979d70fb37deae87c2b0e

[2016-02-21 00:09] kardianos commented on #86
I agree this is an issue. I know roughly what is causing it and will have a resolution soon.

[2016-02-21 00:10] kardianos commented on #74
acknowledged. Will update soonish.

[2016-02-22 14:41] pkieltyka commented on #86
@kardianos unfortunately I'm still getting this error. .. see console output:

[code]

[2016-02-22 14:42] pkieltyka commented on #86
you'll notice there are 2 errors there though, the first for some reason fails to copy a package, but a second attempt of running add +external gets past that error, and runs up against another bug.

[2016-02-22 14:51] pkieltyka commented on #74
@kardianos thanks for this.. but I'm afraid that doesn't solve the problem, not for me anyways and I have a pretty strong grasp of Go's vendoring, so I can only imagine how others will skip to use this package if they can't understand it. For example, `govendor update github.com/user/pkg/...` initially I thought this could be the import path to my current program that would have github.com/user/pk

[2016-02-22 15:38] kardianos commented on #86
ah, different error. I'll look into the license copy error.

On Mon, Feb 22, 2016 at 6:42 AM Peter Kieltyka <notifications@github.com>
wrote:

[2016-02-22 16:21] vrecan opened #88 "fail to vendor go-mangos"
I am having problems vendoring things that are also vendored. the file it's complaining about is there to copy.
[code]

The other dependencies have been vendored with govendor as well. If I ignore this error and attempt to build I get this error:
[code]

[2016-02-22 16:21] vrecan commented on #88
the command I was running :
[code]

[2016-02-22 16:40] vrecan commented on #88
When trying to vendor the subproject if I remove the vendor folder and re init and add I also get a similar error:
[code]

[2016-02-22 17:33] #88 closed

[2016-02-22 17:35] kardianos commented on #86
This should be fixed (someone filed issue #88, which is the issue).

I'm not confident it fixed the second error, but I'd like to do one at a time. Would you mind re-testing?

[2016-02-22 17:44] vrecan commented on #88
Awesome! Thanks for the quick response, this works now.

[2016-02-22 18:49] pkieltyka commented on #86
Bingo :)

[2016-02-22 18:49] #86 closed

[2016-02-22 18:59] kardianos commented on #74
Fair points. I'll add some descriptions to each step, and add an example update all command.

[2016-02-23 12:48] doctordesh opened #89 "feature: add an install command"
I might have misunderstood some parts of the readme, it so, please excuse me. Possible duplicate: https://github.com/kardianos/govendor/issues/35

I would like to have a command that installs the dependencies specified in the `vendor.json`, at the version specified by `revision`.

At the moment, there is just `add` and `update` but if I start up my project on a new computer, I don't want to update

[2016-02-23 17:14] kardianos commented on #89
@doctordesh This is what I have planned:
https://github.com/kardianos/govendor/blob/master/DESIGN.md

Feedback welcome.

[2016-02-23 17:15] #79 closed

[2016-02-23 17:16] kardianos commented on #15
An interactive CLI is needed. See:
https://github.com/kardianos/govendor/blob/master/DESIGN.md

[2016-02-23 17:17] kardianos commented on #30
I've finally decided on a design. See: https://github.com/kardianos/govendor/blob/master/DESIGN.md

Feedback welcome.

[2016-02-23 17:17] kardianos commented on #33
This will be added with `govendor fetch`. See: https://github.com/kardianos/govendor/blob/master/DESIGN.md

[2016-02-23 17:17] #33 closed

[2016-02-23 17:18] kardianos commented on #44
This will be addressed with the fetch and sync sub-commands. See: https://github.com/kardianos/govendor/blob/master/DESIGN.md

Feedback welcome.

[2016-02-23 17:18] kardianos commented on #48
This will be addressed in the upcoming changes. See: https://github.com/kardianos/govendor/blob/master/DESIGN.md

Feedback welcome.

[2016-02-23 17:19] kardianos commented on #66
Unable to reproduce.

[2016-02-23 17:19] #66 closed

[2016-02-23 17:21] myitcv commented on #79
@kardianos - I will add more details to this thread when I get a chance

[2016-02-23 17:23] kardianos commented on #79
Cool. We can always reopen if needed. I'm just trying to clean house.

[2016-02-24 05:36] FrenchBen commented on #44
:+1:

[2016-02-25 00:20] tv42 opened #90 "update: Claims to match a Git sha, yet copies whatever was found $GOPATH/src"
If there's local, uncommitted, junk in the source tree, `govendor update` will copy that under `vendor/`, while `vendor/vendor.json` happily claims that it matches some Git commit.

[2016-02-25 00:22] kardianos commented on #90
Good point.

[2016-03-02 19:50] tmc opened #92 "Support build flags? fails with go-sql-driver"
[code]

[2016-03-02 21:14] kardianos commented on #92
We already support build tags. If you want to ignore appengine, you can add appengine to the top level ignore field in the vendor.json file.

[2016-03-02 21:18] kardianos opened #93 "feature: add "root" to vendor.json file?"
@freeformz
Would it be beneficial to heroku type services to include a "rootPath" field in the top of vendor.json file? It would correlate to the relative path (under GOPATH) that the vendor folder lives in.

[2016-03-02 21:18] kardianos commented on #93
If so, suggestions on names?

[2016-03-02 22:30] freeformz commented on #93
Yes if I'm understanding correctly. This would make it much easier to determine where to put code pushed to us for proper package naming.

[2016-03-02 22:51] kardianos commented on #93
The new field in govendor's vendor.json file would look like:
{
    "rootPath": "github.com/kardianos/govendor",
    ...
}

[2016-03-02 22:54] freeformz commented on #93
Seems to me your really talking about a package, not a path (even though packages are expressed as a path).

[2016-03-02 23:02] kardianos commented on #93
The value in "rootPath" would be the following:
$GOPATH/src/$(rootPath)/vendor/vendor.json
So that could be a package, but it might not have any go files in it.

This is redundant with the package import comment. However, it is trivial to automatically add here. But,.. then again, it is kinda off topic in a way. Still on the fence.

[2016-03-02 23:10] freeformz commented on #93
Where in `vendor/vendor.json` would this be?

[2016-03-02 23:28] kardianos commented on #93
[code]

[2016-03-02 23:34] freeformz commented on #93
This is equivalent to godep's ImportPath AFACT.

[2016-03-02 23:35] kardianos commented on #93
Yes.

[2016-03-02 23:40] freeformz commented on #93
I don't understand what's meant by `redundant with the package import comment` though.

[2016-03-03 11:14] mjdavies opened #94 "How do you install this tool?"
Sorry for being a bit slow, but how do you install this tool?

[2016-03-03 13:12] kardianos commented on #94
go get -u github.com/kardianos/govendor

On Thu, Mar 3, 2016, 03:14 Matt Davies <notifications@github.com> wrote:

[2016-03-03 22:46] kardianos commented on #93
This field "rootPath" or "ImportPath" seems to contain the same information as a package import comment. Makes me hesitant to include it. Maybe it's alright...

[2016-03-03 22:50] freeformz commented on #93
It just makes it easy to determine where the code is supposed to live. Not everything uses import comments.

[2016-03-07 05:50] mjdavies commented on #94
Thanks kardianos

I'll get the hang of this soon, honest ;-)

[2016-03-07 05:50] #94 closed

[2016-03-07 23:25] kardianos commented on #92
Ping. Is this still an issue?

[2016-03-07 23:26] kardianos commented on #89
This is implemented in the fetch branch. Once that feature branch is complete it will be merged into master.

[2016-03-07 23:26] #89 closed

[2016-03-08 00:33] #92 closed

[2016-03-08 10:15] doctordesh commented on #89
Awesome! Thanks :)

[2016-03-11 16:01] dpiddy opened #97 "should revisionTime be UTC?"
It worries me to see a non-zero timezone offset. :)

[2016-03-11 16:09] kardianos commented on #97
Could you expound on the worries? This wasn't an explicit design decision either way, so I'm open to hearing arguments.

For a local team, it might make more sense to record the local time plus offset. But really, the revisionTime is mainly for the maintenance programmer 10 to 20 years from now, so I'm not too worried about time of day regardless.

[2016-03-11 16:33] dpiddy commented on #97
I gather it comes from `git show` for git but wondering if there's a case where depending on local config two runs of `govendor update` could produce different `revisionTime` values for the same UTC time.

If you are not concerned about it, feel free to close. I just generally don't like to see timestamps stored anywhere not in UTC. It's easy enough to convert to local time for display.

[2016-03-11 16:38] kardianos commented on #97
I could buy that argument. I do want the vendor file to not change over time. Let me think about this. It will be easy to change. We parse the time first so all we have to do is call .UTC() before format.

[2016-03-11 22:22] jzila commented on #48
@kardianos that `DESIGN.md` file is a dead link. I'm curious as to how vendored code can be verified.

[2016-03-11 23:02] kardianos commented on #48
https://github.com/kardianos/govendor/blob/fetch/doc/design.md

[2016-03-11 23:10] jzila commented on #48
@kardianos great, thanks!

[2016-03-15 11:52] pkieltyka opened #98 "checksum feels arbitrary"
@kardianos just wondering if the new checksum field in "fetch" branch is really necessary? .. its pretty random. I understand it has something to do with sync to check if a package has changed, but the way its computed and the value feel pretty random

[2016-03-15 15:43] kardianos commented on #98
Thank you for looking into the "fetch" branch, I really appreciate it. (Feel free to ping me on slack too.)

The checksum method is as follows:
 * Start at the root directory
 * Sort the listings of the package
 * Add the import path
 * For each file
   - Add file name (important if someone renamed a file to start with a "_" or change suffix)
   - Add file content
 * Go into each sub-folder

The b

[2016-03-15 17:55] pkieltyka commented on #98
hrmm, yea I understand the reason and figured it had to do with how packages are synced. But then vendor/vendor.json would never be expected to be manipulated by hand, it should be considered as a "lock"ed manifest that should just be changed by the govendor tool, or another lib that will compute all the values. Would you agree? if that is the intention, and everyone is cool with it, then it sound

[2016-03-15 18:07] kardianos commented on #98
The vendor spec is designed to be, use what you need. So in this case, govendor will still work alright if if it doesn't have a checksum field, it will just work a bit more if "sync" is called.

However, practically speaking I do treat this as a "lock" manifest that shouldn't be edited by hand. I'd rather people just use a tool to determine things.

[2016-03-15 20:36] pkieltyka commented on #98
@kardianos yea, I think a "lock" manifest that should be managed by govendor tool makes sense. So then, "checksum" field is optional, this all makes sense. Good stuff man. Keep going, we love it and I'm pumping it to everyone I know :)

[2016-03-15 20:36] #98 closed

[2016-03-16 18:39] kardianos commented on #48
vendor checksum with sub-commands `status` and `sync` in master now.

[2016-03-16 18:39] #48 closed

[2016-03-16 18:40] kardianos commented on #44
Now in master. Fetch has a few TODOs with resolving conflicts.

[2016-03-16 18:40] #44 closed

[2016-03-16 18:43] kardianos commented on #35
I'm solving this by adding the `add -uncommitted` sub-command. It isn't a full solution, but it allows you to make changes in one repo, then try them in others by adding the uncommitted changes. I'm going to argue that thinking in terms of "restore" is broken, you need to already have something committed at a revision if you want to put it in the vendor folder.

[2016-03-16 18:43] #35 closed

[2016-03-16 18:44] kardianos commented on #30
Added `govendor sync` to master.

[2016-03-16 18:44] #30 closed

[2016-03-16 22:09] FrenchBen commented on #44
![woohoo](https://cloud.githubusercontent.com/assets/3965324/13830323/1f9d4c9a-eb89-11e5-9ae9-18f99e09a6f0.jpeg)

[2016-03-17 08:53] kaey opened #99 "Missing description of status subcommand"
Commit 1a3754e says that status sub-command was added, but there's no description of it.

[code]

[2016-03-17 09:11] kaey opened #100 "testdata dir is not vendored"
testdata is a well know directory for storing test fixtures.
I'd like to include tests from vendored libs and run them as part of test suite of my application,
but because testdata is not copied, tests fail.
I know there are other names like fixtures or _fixtures  or even _testing, but I'd draw line at testdata as it is used by Go itself.

[code]

[2016-03-17 09:30] kaey opened #101 "fetch +e doesn't always record revision of a package"
govendor version ab600ff

add +e works fine, but I have a problem with fetch.
Repro (let me know if you need any other information):
[code]

[2016-03-17 09:43] kaey opened #102 "status incorrectly reports patched package as out-of-date"
govendor version ab600ff

Sometimes I have to patch vendored libraries, but cannot get it upstream.

This is how govendor status works:
[code]

It should say something about checksum mismatch, not out-of-date.

[2016-03-17 13:37] nightlyone opened #103 "Note actual repository URL where we fetched the pinned depdency from"
When I fork a repository (e.g currently gogokiri to fix the Go1.6 compilation), I usually put it to `$GOPATH/src/github.com/user/repo` but it actually points to my own fork at `https://github.com/nightlyone/gokogiri`. This is also the recommended procedure.

It would be great, if govendor would also record the output of `git config remote.origin.url` along with the git SHA1, so my colleagues get t

[2016-03-17 16:39] kardianos commented on #100
I agree. If tests are not ignored, we should copy over any "testdata" folder.

[2016-03-17 16:45] kardianos commented on #102
This is by design. I will start a FAQ document that lists out other options.

The recommended thing to do in this case is to:
`govendor fetch github.com/jaytaylor/html2text::github.com/kaey/html2text`
(assumes you have pushed your changes to your own fork). This set the origin to the kaey repo but copies them into jaytaylor.

Writing down a revision that doesn't exist anywhere or checking in chang

[2016-03-17 16:46] kardianos commented on #101
Looks like there are several bugs in here. eeep!

I'll look into. Thanks for the report.

[2016-03-17 16:51] kardianos commented on #103
I use `remote.fork.url` and leave `origin` as the original origin.

I would recommend using the "origin field". After you push your changes remotely, I would recommend you `govendor fetch github.com/moovweb/gokogiri::github.com/nightlyone/gokogiri`. This will set the origin to your fork and pull from your fork, while placing the import in the correct import path.

Let me know if this works. I'm st

[2016-03-17 16:52] #99 closed

[2016-03-17 20:58] nightlyone commented on #103
Thanks for adding this case to the FAQ, but I am not exactly there @kardianos

[code]

[2016-03-17 21:19] kardianos commented on #103
Ah, you should remove the existing packages in gokogiri first. Maybe I
should auto-upgrade the existing packages...

On Thu, Mar 17, 2016 at 1:58 PM Ingo Oeser <notifications@github.com> wrote:

[2016-03-18 14:53] iancoffey opened #104 "Updating with /... and /^ seems broken"
The update command documentation references the /... and /^ command for specifying packages under the location specified.

When using this today however, both commands result in an error like so:

Error: Package "Import: \"github.com/somerepo/someproject\" relative: \"\"" not a go package or not in GOPATH.

The GOPATH is correct, the command is being run from a proper location inside the GOPATH, a

[2016-03-18 15:07] iancoffey opened #105 "Update panics on uri trailing slash"
Update seems to panic when the package URI given ends in a trailing slash.

https://gist.github.com/iancoffey/12e8c1b17333b52921f6

[2016-03-18 15:56] #105 closed

[2016-03-18 15:58] kardianos commented on #104
I'm wondering if this has to do with import path handling. If this didn't fix it, is there a test case I could run to encounter it?

[2016-03-18 16:25] neelance opened #106 "Skip files with "package documentation""
I want to vendor some program packages that are used by `go generate`. Those currently show up as `unused`. Could that be avoided by having a list in `vendor.json` that manually marks some packages as used?

[2016-03-18 16:27] kardianos commented on #106
Hmmm, That's actually a bug in the status marking (heads off to add/update test). `main` packages should never be marked as unused.

[2016-03-18 16:35] kardianos commented on #106
Do you have the latest version on the master branch? I just updated a test but it was already passing.

[2016-03-18 17:16] sean- opened #107 "goimport AST walking..."
When trying to use `govendor` with a project, it looks like its getting hung up traversing imports that only work on, for example, appengine, and won't ever work for non-appengine environments.  For example:

[code]

from https://github.com/go-sql-driver/mysql/blob/master/appengine.go#L14

The dependency graph from `govendor list -v`:

[code]

I'm not sure what the right fix is for this.  At first

[2016-03-18 17:25] #93 closed

[2016-03-18 17:33] kardianos commented on #107
I've added a note about this in the [FAQ](https://github.com/kardianos/govendor/blob/master/doc/faq.md#q-im-getting-missing-packages-from-appengine-but-i-dont-care-about-appengine-how-do-i-ignore-these-pacakges) . Could you see if this answers your question?

[2016-03-18 17:54] kardianos opened #108 "testing: create local framework for testing fetch and sync commands"
A test needs to create a git repo in a test folder, make commits, then serve the repo over an existing local http connection (set Insecure=true flag in context).

This is for setting up the local http server, serving redirects in a html meta tag, and allowing each test to register and deregister repos they create and serve.

The server setup and teardown should be in TestMain and should have funct

[2016-03-18 18:09] neelance commented on #106
I just realized that the package `github.com/gogo/protobuf/protoc-gen-gogo` is not recognized as a `main` package. It has a file that uses `package documentation`, which is skipped by the Go compiler. The other file has `package main`.

This special case is described in `go help packages`:
[code]
Another mention is here: https://golang.org/pkg/go/build/#Context.Import

Seems like the `protoc-gen-g

[2016-03-18 18:25] kardianos commented on #106
Agreed. Will fix. Thanks for tracking it down.

[2016-03-18 19:04] neelance opened #109 ""govendor add" messes up vendor.json"
I'm using the latest `govendor`. When doing `govendor add sourcegraph.com/sourcegraph/gen-mocks` I get the following diff:
[code]
The package was added, but `bitbucket.org/pkg/inflect` got lost and `sourcegraph.com/sqs/pbtypes` got duplicated (see first line of diff chunk). This looks like an indexing bug to me, because the first and last entries are affected.

[2016-03-18 20:38] #100 closed

[2016-03-18 20:38] #106 closed

[2016-03-18 20:40] kardianos commented on #109
oh snap. I will look into ASAP.

[2016-03-19 00:38] sean- commented on #107
It does, thank you!  This did unblock other problems with `fetch` and its cache directory that I'm going to post as a new issue.

[2016-03-19 00:38] #107 closed

[2016-03-19 00:41] sean- opened #110 "Fetch failing with cache errors..."
I'm seeing strange issues with `govendor fetch +missing` where packages in the cache directory are not being found:

[code]

It looks like some path length is being exceeded because the right path does exist on the filesystem:

[code]

Using `go get` on the missing package works around the cache and prevents the problem, however it's rather tedious.

[2016-03-19 01:00] sean- commented on #110
Quick update, it looks like there are incomplete entries in `vendor.go` from earlier operations.  A fresh `vendor.go` file from `govendor init` seems to recreate these incomplete entries:

[code]

I'm unsure how these are related, but FYI.

[2016-03-19 01:03] sean- opened #111 "`govendor update` missing and external conflicts..."
When attempting to `govendor update` external packages, if the package is missing in `GOPATH` but exists in `vendor/` then the `update` fails:

[code]

The workaround is to copy `vendor/` to `$GOPATH` and try again: `cp -pr vendor/* $GOPATH/src/ && govendor update +external` (wtb `govendor export` ?)

[2016-03-19 02:17] kardianos commented on #111
`govendor {add,update}` pull from $GOPATH.

`govendor fetch` adds and updates from remotes. :/ I know that seems counter intuitive, but ... backwards compatibility for now.

[2016-03-19 02:19] kardianos commented on #110
I suspect there are two separate issues. I'm working on the vendor file corruption issue, (which I have confirmed and I'm correcting right now). I'll look into this separately.

[2016-03-19 02:47] #109 closed

[2016-03-19 02:59] kardianos commented on #110
I'm confused on this one. Could you provide exact steps to reproduce?

I'm assuming the `go get -u

[2016-03-19 03:15] #101 closed

[2016-03-19 03:16] kardianos commented on #101
There were two issues here. One was resolved in another issue, the remove was resolved here.

You probably want the command `govendor fetch +out` to get both external and missing.

[2016-03-19 03:20] kardianos commented on #102
I'm going to close for now. Feel free to re-open if you feel this is in error.

[2016-03-19 03:25] #90 closed

[2016-03-19 03:33] kardianos commented on #111
If you haven't seen it already, you may find the [FAQ](https://github.com/kardianos/govendor/blob/master/doc/faq.md) useful. I will close for now, but feel free to open again.

[2016-03-19 03:33] #111 closed

[2016-03-19 03:43] sean- commented on #110
Here are the exact steps required to reproduce this issue:

[code]

If you want another project to use as a regression test, try [Terraform](https://github.com/hashicorp/terraform).

[2016-03-19 03:46] sean- commented on #111
The FAQ is fantastic, thank you, and yes, I know `{add,update}` move data from `GOPATH`.  The issue I was having above was `go-ini` already existed in `vendor/` but didn't exist in `GOPATH`.  When doing a `govendor update +missing`, I would expect `govendor` to add the packages in `vendor/` to the solution set if the package exists in `vendor/` but not in `GOPATH`.  Does that make sense?

[2016-03-19 03:51] kardianos commented on #110
Sweet. I'll resolve this shortly.

On Fri, Mar 18, 2016, 20:43 Sean Chittenden <notifications@github.com>
wrote:

[2016-03-19 06:42] pavel-paulau opened #112 "govendor removes leading and trailing "t" character from the package name"
Fetching ```github.com/gorilla/context``` led to a quite unexpected issue.

Before running govendor fetch:
[code]

[code]

Here is the issue:
[code]

All of a sudden govendor requires credentials for a public repository. Weird, but let's press "Enter" twice to proceed.

As you can see, govendor attempts to clone ```github.com/gorilla/contex``` instead of ```github.com/gorilla/contex```

[2016-03-19 06:48] pavel-paulau commented on #112
Root cause:

https://github.com/kardianos/govendor/commit/fa6d6b94566da5a1c7044c1a348c7f951326d443#diff-39e0342bb9462edc4edad987d2137b06R33

The following line
[code]

remove "t" from the package name.

[2016-03-19 06:56] pavel-paulau commented on #112
Why do you use ``` ` ```  instead of ``` " ```?

[2016-03-19 09:06] kaey commented on #102
The problem is (as I understand it) this command intented for those who don't commit vendor folder to their repo.
For those who do, out-of-date message doesn't make any sense.
Maybe change it to "out of date or modified locally" and describe in docs both usecases?

Sorry I didn't answer earlier.

[2016-03-19 13:24] #110 closed

[2016-03-19 13:27] kardianos commented on #112
I should have looked at the issue list before fixing another issue. You are correct. This was the root cause of #110 and has now been fixed. I went to look at the issue list and saw... your fix. Thanks!

[2016-03-19 13:27] #112 closed

[2016-03-19 13:32] kardianos commented on #102
SGTM

[2016-03-19 13:36] lstoll commented on #104
So I think the issue here is when the specified path has nothing buildable in it.

i.e
[code]

running `govendor update project/...` will return `Error: Package "Import: \"project\" relative: \"\"" not a go package or not in GOPATH.` Which is true, but not the intent of the command

[2016-03-19 13:40] #102 closed

[2016-03-19 13:42] kardianos commented on #104
I think you're correct. This shouldn't be too hard to fix.

[2016-03-20 05:38] #104 closed

[2016-03-21 13:44] neelance commented on #109
Fix confirmed. Thanks!

[2016-03-21 14:44] neelance opened #115 "Poposal: puts vendor.json information into vendored package directory"
We just recently started using govendor and we already have some weird inconsistencies between the vendor.json file and the actually vendored packages. Those inconsistencies might be avoided by putting a vendor.json file into each vendored package instead of having one file for all. That way, if some vendored package gets deleted, the corresponding vendor.json is also gone. What do you think?

[2016-03-21 15:13] kaey commented on #115
What kind of inconsistencies? If there is a bug please report it (preferably with steps to reproduce) and it will be fixed.

[2016-03-21 15:48] neelance commented on #115
What does it mean for govendor if there is an entry in vendor.json but the corresponding package does not exist in the `vendor` directory?

[2016-03-21 15:52] neelance opened #116 ""govendor add +e" not equivalent to specifying packages manually"
I have several packages listed via `govendor list +e`, but if I do `govendor add +e` nothing gets changed. If I do an explicit `govendor add [package]` with one of the packages of the list, then it gets added properly. Why?

[2016-03-21 16:15] kardianos commented on #115
Hi @neelance

One of the [use cases](https://github.com/kardianos/govendor/blob/master/doc/whitepaper.md) that are possible with govendor is to use it to keep track of the revision a package uses, but not checkin the source files in the vendor folder.  While I do not personally normally recommend this, it is valid.

If the entry still exists in govendor but does not exist in the vendor folder, "go

[2016-03-21 16:18] kardianos commented on #116
Probably a bug. I've modified the status matching logic recently and while it still passes my test cases, I probably don't test every permutation possible. Is it possible for you to add a little more detail, or add reproducible steps?

Some key information? Can you confirm if files exist in that location in the vendor directory? Can you confirm if there is or is not an existing entry in the vendor

[2016-03-21 16:24] neelance commented on #116
[code]
Should this ever happen?

[2016-03-21 17:21] kardianos commented on #116
No. I think it was related to the recent change in make "/..." and "/^" function correctly, even on empty folder roots. I've got a guess as to the situation, but I'll need to confirm. As always, I'll add a testcase for this once found.

Thanks.

[2016-03-22 20:25] cstrahan opened #117 "option to install vendored packages into $GOPATH"
Would it be reasonable to provide a means of installing the vendored packages into `$GOPATH`? It would be nice for other tools that look for everything on `$GOPATH` (like `gocode`), where having `vendor` and `$GOPATH` get out of sync could be confusing. If there was a way to sync in the opposite direction (`vendor --> $GOPATH`), that would be pretty neat.

[2016-03-22 21:13] kardianos commented on #117
ala `govendor restore`

Maybe. Would it copy the files into $GOPATH, or revert the repos in $GOPATH to the specified revision if present. Either seems dangerous to me. Generally govendor is designed to never touch anything outside of your project.

[2016-03-22 21:22] sean- commented on #117
For the process of clean-room verification and reproducibility, this would be useful.  I think it's fair to never overwrite something, but this is a reasonably common set of operations:

[code]

If any of the external vendored packages exist and are of different versions, the command should abort and the user should manually copy things around.  Even with a `-force-me-harder` flag to a `govendor r

[2016-03-23 08:36] kaey commented on #117
Copying vendored packages into GOPATH is a hack, used until all tools properly support vendoring.

[2016-03-23 08:44] influx6 commented on #117
Although a useful idea but it can a rabbit hole at times, I think unless this is a feature that is widely needed, the users should be the chief decider and initiator of such actions, and I would prefer the user manually copying the needed files over but I also can see the benefit but am just not so convince that benefits makes sense as part of govendor. We could look into a secondary CLi tool that

[2016-03-23 15:00] kardianos commented on #117
I've held off on adding this feature before. I think I would need a concrete proposal that satisfied a reasonably general use case. But given those, I'm open to considering it.

[2016-03-23 19:46] VojtechVitek opened #119 "Publish releases"
It's quite hard to follow new features coming to the master branch. Do you think you could tag & release certain features so we can follow the project more easily?

[2016-03-23 20:19] #116 closed

[2016-03-23 20:24] kardianos commented on #119
On my TODO list. Right now I'm still in v0 effectively.

However, once I've got the sync, fetch, and related changes stabilized, I do plan to both tag releases and publish binaries.

## Roadmap:

 * v1.0 after known bugs are fixed and people have tried it out for a bit.
 * v1.1 after govendor handles dependent vendor file with prompts for developer

v1.0 will likely come mid next-week.

Thanks for

[2016-03-23 20:43] VojtechVitek commented on #119
Thank you.

[2016-03-23 23:07] kardianos opened #120 "add version and licenses"
Before releasing v1, Builds should contain version information and license text.

Use a go:generate task to look for all license files and embed.
Probably just update a go file before doing a git tag.

`govendor -license` or similar should display licenses. Include the "go" source license.

[2016-03-24 15:00] neelance opened #121 "Trying to vendor fork"
I'm trying to vendor a fork:
[code]
I don't get the expected result of branch `v1` of `github.com/sourcegraph/gorp` being vendored into `vendor/gopkg.in/gorp.v1`.

[2016-03-26 04:27] kardianos commented on #121
It's a regression. :/
Right now I don't have tests for sync and fetch. I'm working on adding them now and the framework needed for them. I'll have this fixed before v1 is released.

[2016-03-26 04:33] kardianos commented on #121
There is definitely a bug in that it isn't putting it in the correct folder. That's the regression.

There might also be a limitation of design.
Right now govendor is choosing *tag* v1.7.1 over *branch* v1. Right now `govendor` will only choose the branch over the tag if they are exactly the same. And because "v1.7.1" is assumed to be higher than "v1" (branch), then it chooses "v1.7.1".

Go (lang)

[2016-03-26 04:52] kardianos commented on #121
And there was a flaw in my existing test that would have warned me of this.
Fixing now.

[2016-03-26 05:30] sean- commented on #121
GitHub - hashicorp/go-version: A Go (golang) library for parsing and verifying versions and version constraints.

https://github.com/hashicorp/go-version

If it's helpful to you. -sc

--
Sean Chittenden

[2016-03-26 14:57] kardianos commented on #121
@sean-
Oh, I see what you mean. Because no inequality was specified, you would expect goversion to find the exact match, that is the branch named "v1". Whereas govendor currently is designed to have an implicit ">=" to each tag, avoiding version ranges altogether.

@neelance If you had specified "...@>=v1" then you would have expected it to find a larger version. Otherwise you expect it to match t

[2016-03-27 23:08] kardianos commented on #121
I've added an exact version operator "=" prefix.

I'm hesitant to add plain inequalities such as ">" or "<" as I don't want to allow bumping major versions in any way. I also don't like the idea of the less-than operator.

I'm very much open to thoughts on this subject. Thanks.

[2016-03-27 23:09] kardianos commented on #119
I've began doing this.

[2016-03-27 23:09] #119 closed

[2016-03-27 23:09] #115 closed

[2016-03-28 05:36] influx6 commented on #115
Am in agreement with @kardianos, since the vendor.json file contains the needed information, it's a simple thing to update or readd them at their specific revision. Personally have found this feature somewhat useful at times. But your needs may differ. But fragmenting multiple vendor.json file down the tree is not really good management, it should be there to flatten out the dependencies regardles

[2016-03-28 06:20] sean- commented on #121
Agreed, only equality matters. As a developer, I want the stability of a version, but if something drifts, I also want to know that I have to chase the new version at some point.  Without an eye on possible security updates, keeping track of versions of vendored code is a PITA.  When tracking a branch, I would want to stay on `v1` `master`.  But, when `v2` shows up, I'd want to be notified that `v

[2016-03-28 14:38] kardianos opened #122 "feature: notify developer of a newer version than what version specifies"
If a package is on "v1" and a package releases "v2", I'd like for users of the package to be notified of updates.

Similarly, if on "v1.2" and "v1.3" is released, a notification might also be appropriate.

This could perhaps happen during fetch, but more likely this would be a separate command or sub-command.

[2016-03-28 14:40] kardianos commented on #122
This would also be useful for packages that don't use versions, notifying developers when a new revision is released. This votes strongly for a new command or sub-command, rather than tying it into an existing command.

[2016-03-28 14:42] kardianos commented on #121
I like the idea of searching for newer versions like "v2" when you are on "v1" greatly. I've filed #122 to track.

@neelance
I think the command `govendor fetch gopkg.in/gorp.v1::github.com/sourcegraph/gorp@=v1` should do what you are seeking.

[2016-03-29 19:55] oldenbur opened #123 "command govendor remove {base_package}/... does not remove all sub-packages"
In the following example, I would like to remove four packages from the vendor folder (base GoMessaging and three sub-packages).  My first call to `govendor remove github.schq.secious.com/Logrhythm/GoMessaging/...` removes only two of the packages and another identical call is required to remove the other two.

[code]

[2016-03-29 20:41] kardianos commented on #123
Thank you for the report. I'll look into what's happening and why.

[2016-03-30 01:49] kardianos commented on #123
@oldenbur Can you tell me when you originally vendored these packages? Do you know what govendor revision you used?

[2016-03-30 12:25] oldenbur commented on #123
The original vendoring most likely occurred on Friday March 18th with a version of govendor that I probably go-getted around that same date.

[2016-03-30 12:28] kardianos commented on #123
@oldenbur Thanks. There were some known bugs during that time period I was working to resolve. If you `rm -Rf vendor` and re-vendor `govendor init && govendor add/fetch +e`, could you see if this is still an issue?

In the most recent push to `govendor` I've updated how packages are resolved that at the very least gives me more confidence the logic is correct.

[2016-03-30 16:42] iand opened #124 "C files not vendored"
I'm using govendor on a project that uses github.com/go-gl/glfw/v3.1/glfw which contains some C bindings and header files in a subdirectory. After using `govendor add +external` these files were not copied into the vendor directory of my project and so it fails to compile:

[code]

Manually copying the C files into the right place in the vendor directory fixes the problem.

[2016-03-30 16:50] iand commented on #124
Some additional info. Using govendor fetch does not fetch the subdirectory containing the C files even though it does update the Go files in the vendored package.
I tried both

`govendor fetch github.com/go-gl/glfw/v3.1/glfw`

and

`govendor fetch github.com/go-gl/glfw/v3.1/glfw/...`

[2016-03-30 17:13] kaedys commented on #97
I'd like to +1 the usage of UTC.  It generally makes the vendor file easier to read, especially since the timestamps themselves seem to be using other than local time.  For example, I am in CDT (UTC -05 atm).  However, my vendor file, after a fresh Sync, has the following timezones listed: `-08, -07, -06, -05, -04, Zulu, +01, +02, +09, +11`.  While not, strictly speaking, necessarily a problem, it

[2016-03-30 17:31] kardianos commented on #124
Try running
`govendor remove github.com/go-gl/glfw/v3.1/glfw/... && govendor fetch github.com/go-gl/glfw/v3.1/glfw/^`

This will copy the entire directory tree.

[2016-03-30 17:40] iand commented on #124
Thanks for the speedy response. I get the following error when running the second part of that command (I ran the remove successfully):

`Error: Cannot have a sub-tree "github.com/go-gl/glfw/v3.1/glfw" contain sub-packages ["github.com/go-gl/glfw/v3.1/glfw^"]`

[2016-03-30 17:46] oldenbur commented on #123
This looks much better.  Good work.  Thanks!
[code]

[2016-03-30 17:56] kardianos commented on #123
I'm glad it works correctly now :).
Thanks for the report.

[2016-03-30 17:56] #123 closed

[2016-03-30 18:02] kardianos commented on #124
I'm having trouble reproducing with HEAD. Can you post the result of `govendor list github.com/go-gl/glfw/...`

[2016-03-30 18:15] kardianos commented on #124
Do you still have files in the folder when you added them manually?
what if you ran `rm -rf vendor/github.com/go-gl/glfw` then
`govendor fetch github.com/go-gl/glfw/v3.1/glfw/^`

[2016-03-30 23:24] devoid commented on #117
One use case would be to install 3rd party go CLI tools in the local environment from a known (vendored) version. You can already add the source to the vendor directory but there's no easy way to `go install` the program, especially if it also uses the vendor path.

[2016-03-31 00:50] kardianos commented on #117
@devoid
Would `govendor install +vendor,program` work for you to install vendor CLI tools?

[2016-03-31 04:06] devoid commented on #117
@kardianos When I run `govendor install +vendor,program`, the go toolchain tries to git clone the vendored CLI tool. One of the goals of vendoring these CLI tools is to avoid calling out to the network once you have a working copy of the codebase.

Note that earlier I was having difficulty getting govendor to add all of the required packages for the CLI tool (the tool itself uses govendor but othe

[2016-03-31 04:14] kardianos commented on #117
Okay. Right now the govendor {install, test, etc} commands run `govendor sync` before the command. You comment makes me think I should remove that. Normally it would be a noop, but I'm assuming you have vendored deps before I added the checksum.

As for it not vendoring all the deps. Yikes! I just tried it and you're correct, it doesn't do what it needs to do here. I'll add a new test and fix soon

[2016-03-31 06:15] #97 closed

[2016-03-31 06:15] #108 closed

[2016-03-31 08:55] iand commented on #124
Here's the result of `govendor list github.com/go-gl/glfw/...` executed immediately after getting the error about sub-tree/sub-packages:

[code]

[2016-03-31 09:08] iand commented on #124
Some progress... I deleted everything under the vendor directory and re-ran the `govendor fetch github.com/go-gl/glfw/v3.1/glfw/^` command. That completed successfully and vendored all the C files as well.

Here's the relevant portion of `govendor list` showing the other vendored packages I need:

[code]

Do i just need to use the sub-folder package specifier for vendoring packages with associated

[2016-03-31 12:06] iand commented on #124
Now the sub-folder problem re-appears when I try to vendor another package alongside glfw:

[code]

So, to be clear these are the commands I used from the root of my package:

[code]

which then gives the error above.

[2016-03-31 14:40] kardianos commented on #124
I'm sorry, I'm still not able to reproduce. If you are willing to continue, could you execute the following commands and send me the output?
[code]

Thank you for your patients in helping understand this.

[2016-03-31 15:09] iand commented on #124
I ran those commands and... no errors. I then used the `govendor fetch` to vendor the remaining 2 dependencies and that worked fine too. I am at a loss to explain why because I ran `go get -u github.com/kardianos/govendor` just before I started using the tool to ensure I had the latest version.

I'm happy to use this as a workaround for `govendor add +external` not copying the C files. Thanks for

[2016-03-31 15:51] kardianos commented on #124
Thanks. I'll close for now, but if you run into this again, esp if you can reproduce it, please re-open.

[2016-03-31 15:51] #124 closed

[2016-03-31 23:12] kardianos commented on #117
@devoid If you run `govendor fetch github.com/my/path/to/cmd/main` It should now correctly and completely vendor the deps. Would you be willing to confirm?

[2016-04-01 06:10] glasser opened #125 "Migrate from vendor-directory Godep?"
I've been using Godep on a project. We used to use rewritten dependencies but now that Godep supports it we just use the `vendor` directory.  So there's a Godeps.json file but the vendored code is under `vendor`.

I'm considering switching to govendor.  It looks like `govendor migrate godep` does not detect this setup: it deletes my Godeps.json but the vendor.json that it creates has empty `packag

[2016-04-01 07:36] glasser commented on #125
Oh, hmm, I guess I can first `godep restore ./...`, delete my vendor directory (and Godeps.json), and `govendor add +external` a few times...

[2016-04-01 13:47] kardianos commented on #125
I bet migrate is broken. I need to update, it is on my list to-do.

On Fri, Apr 1, 2016, 00:36 David Glasser <notifications@github.com> wrote:

[2016-04-01 15:18] freeformz commented on #125
These steps should do it if you are using godep with the vendor experiment.

[code]

[2016-04-01 17:27] sean- opened #126 "WTB: `govendor licensees -print +vendor`"
It would be *REALLY* nice if `govendor` grew the ability to aggregate all of the licenses either `LICENSE` or `COPYING` and print them to standard out so ppl could do something like:

[code]

Or a flag that would automatically do that on `govendor sync`.  Where each license is separated by 80 characters of `=` and a newline.

[2016-04-01 17:58] kardianos commented on #126
Actually I was thinking the same thing, even for just usage within govendor. I like your command syntax.

I was thinking it should also include the go BSD license as well, as it requires reproduction within binary distributions too.

[2016-04-01 20:45] lcaballero opened #127 "Dupes in govendor list"
I see duplicates when running `$> govendor list`, I don't expect there to be dupes, but maybe I'm wrong.  What is the __true__ expected behavior?  See the image below where pborman/uuid is listed twice.  There could be two version, and if that's what this indicates it might be good to somehow indicate that, but I'm not sure what is **correct**.

![screen shot 2016-04-01 at 2 42 35 pm](https://clou

[2016-04-01 21:05] kardianos commented on #127
What does `govendor list -v` say?

[2016-04-02 03:26] lcaballero commented on #127
Ok, well `govendor list -v` does show the library is a dependency of two separate packages.  The one that's part of hitman/vendor appears suffixed as `::github.com/lcaballero/hitman/vendor/github.com/pborman/uuid`.  Is this the indication of two different version like I was looking for, and so listed twice in the `govendor list` without -v?

<img width="640" alt="screen shot 2016-04-01 at 9 20 21

[2016-04-02 04:39] kardianos commented on #127
Yes.

On Fri, Apr 1, 2016, 20:26 Lucas Caballero <notifications@github.com> wrote:

[2016-04-05 19:18] #125 closed

[2016-04-06 07:54] #127 closed

[2016-04-06 17:28] kaedys opened #128 "govendor remove, fetch, and list have differing dependency checking logic"
Our project makes use of the package `golang.org/x/net/publicsuffix`.  This package has a file, `gen.go`, that imports `golang.org/x/net/idna`.  However, that file has no exported methods (it's designed to be run via `go run` instead, generating `publicsuffix/table.go`), and thus is unused by our project overall.

However, `govendor remove`, `govendor list`, and `govendor fetch` disagree about whe

[2016-04-06 21:01] devoid commented on #117
@kardianos First sorry for the delayed reply!
Note that all of my steps here are with the v1.0.0 release (congrats!) of govendor and go1.6. Example packages are made up because I don't have permission to release the software.

Just as a recap, I'm trying to vendor a CLI utility I wrote `devoid/mycmd` inside a larger program `devoid/myProgram`. Both source repositories are checked out in my `$GOPAT

[2016-04-06 21:09] kardianos commented on #117
@devoid I'm not sure what's happening here. I suspect it is getting filtered out before it can reach either the add or the fetch handler. For sure a bug. I'll see what a testcase for this looks like if I can isolate.

[2016-04-07 18:51] david4shure opened #129 "govendor sync is updating dependency versions"
Hey there,

I am new to govendor, but I am having some issues govendor sync which could very well be my own ignorance of workings of the tool. For some context, I have an existing go project which I have converted to govendor, therefore I have a vendor/ directory with a vendor.json and all my dependencies in it.

My impression of the vendor.json is that it tracks each dependency with both a remote

[2016-04-07 18:55] kardianos commented on #129
The field that's being updated is not the revision SHA 1 that git uses (that is the revision field), it is updating the checksum field. I'm not sure why it is changing, but if you aren't seeing any other diffs, it is probably doing the right thing in the end.

I don't know why the checksum is updating. But it isn't changing the revision. Is this project public?

[2016-04-07 18:58] david4shure commented on #129
Unfortunately no, the project is not public. However, I am not seeing any other fields updating. Given the project is not public, are there are debugging steps you would like me to take myself? And that makes sense, really the part I was worried about was the commit SHA1 changing, which doesn't seem to be happening.

[2016-04-08 17:44] kardianos commented on #128
I will look into this. I'm sorry for the issue but I'm glad you caught it and reported this. Current ETA for resolution will early next week. Thanks.

[2016-04-09 00:10] cespare opened #130 "'govendor add some/pkg' sometimes doesn't do anything if some/pkg is not a dep of anything"
I'm using govendor to vendor some programs (package main) that we need which aren't otherwise dependencies of any other packages. This sometimes works, but sometimes govendor exits without any errors and without making any changes.

The problem isn't specific to package main; I can also see the issue if I try to `govendor add` a library package that isn't a dependency of anything else.

I traced t

[2016-04-10 10:47] boyand opened #131 "feature: Diff between vendored deps and Gopath"
It would be great to be able to see the difference between vendored dependency versions/commit hashes and what is in the Gopath.

[2016-04-11 10:23] gaillard commented on #130
I would like to see this fixed too

[2016-04-11 16:11] kardianos commented on #130
Acknoledged. I'll look into it.

[2016-04-12 12:05] pkieltyka opened #132 "idea: make +vendor the default if nothing is specified for fetch."
hello, I thought `govendor sync` would sync all packages with their remote origins? but, I'm finding this isn't happening. what is the command to do:

1. return status list of all outdated packages to their external origin
2. fetch/vendor each outdated package with their external origin

[2016-04-12 13:02] kardianos commented on #132
fetch +v
Should work.

On Tue, Apr 12, 2016, 05:05 Peter Kieltyka <notifications@github.com> wrote:

[2016-04-12 13:04] pkieltyka commented on #132
Great to know :) please update README with a series of common commands

[2016-04-12 13:18] kardianos commented on #132
Have you seen the FAQ?

On Tue, Apr 12, 2016, 06:04 Peter Kieltyka <notifications@github.com> wrote:

[2016-04-12 13:20] pkieltyka commented on #132
Ah, I missed the faq. Just tried a few commands, then checked README, after that opened this issue :)

going to close the issue, but maybe thats some data/insight for a dev's thought process

[2016-04-12 22:48] charles-dyfis-net opened #133 "Overridden github URL not honored for subpackages"
Note the `::golang.org/x/crypto/openpgp@external-signing`, whereas the user-specified URL was `github.com/charles-dyfis-net/crypto`.

[2016-04-13 15:33] kardianos commented on #133
Acknowledged. I'm a little bit busy, but I plan to address this very soon.

[2016-04-13 15:46] charles-dyfis-net commented on #133
Thank you. In the interim, I've worked around this by fixing up my `vendor.json` by hand.

[2016-04-14 06:09] thomasf opened #134 "symlinks causes govendor fetch (and probably other commands) to fail"
[code]

[2016-04-17 04:51] #133 closed

[2016-04-17 05:08] kardianos commented on #130
@cespare I appreciate you looking into this in depth. Due intermittent nature of the bug, I'm working to get a repeatable failure, add a test, and then fix the code.

Is there any public repo that I could use as an example where it sometimes fails to add?

[2016-04-17 05:11] kardianos commented on #134
Thank you for the report. You are correct, currently the copy function doesn't support symlinks. I'll see how hard it is to test for this.

[2016-04-17 05:20] cespare commented on #130
@kardianos I'll make a repro case for you.

In my tests, filesystems return listings in a consistent order, so I doubt it's possible to make a test that consistently fails on every machine unless you add a testing hook to override Readdir or something.

[2016-04-17 06:28] cespare commented on #130
Here's an example:

[code]

[2016-04-17 20:49] kardianos commented on #131
I'm not entirely sure I want to add this, but...

What precisely would you like to see in the diff? Should test files and other tags that have been ignored show up in the diff?

[2016-04-17 21:13] boyand commented on #131
I was thinking more in the lines of comparing revisions i.e. what is available in your Gopath vs which version has been vendored. It is quite helpful when you manage a lot of different projects and you want to be able to bump dependencies.

[2016-04-17 21:18] #130 closed

[2016-04-17 21:19] kardianos commented on #130
@cespare Your test case was awesome in understanding the root cause and instrumental for creating a test case. Thanks! You rock :).

[2016-04-17 21:22] kardianos commented on #131
I have an open "thinking" issue for something like that https://github.com/kardianos/govendor/issues/122 . Should I merge this into that?

Case being, I might report on both the remote and GOPATH, rather than just the remote.
Yes?

[2016-04-18 05:55] #120 closed

[2016-04-18 05:55] #126 closed

[2016-04-18 07:39] boyand commented on #131
Makes perfect sense 👍

[2016-04-18 19:51] #134 closed

[2016-04-19 02:42] kardianos commented on #122
Also look into reporting the revision / version in GOPATH. see: https://github.com/kardianos/govendor/issues/131 .

[2016-04-19 02:43] #131 closed

[2016-04-19 13:45] pkieltyka commented on #132
btw, have you thought to make +v the default flag if one isn't set..? that is, it will act on the vendor'ed packages..? which is what people are thinking is happening when using "govendor", with "vendor" in the name :)

ie.: `$ govendor fetch` would default to `$ govendor fetch +v` .. etc.

[2016-04-19 15:19] kardianos commented on #132
I don't want to do that now, but reasonable idea. Reopening issue to record.

[2016-04-19 15:53] pkieltyka commented on #132
@kardianos you know my love for govendor, but I think some sensible defaults for the CLI could make it more useful for its users. I personally don't think a dep tool should require documentation, it should need 3 commands, and boom, away you go. just a quick read of govendor -h should tell the person everything the need. Then, if they want to run more advanced operations, they can peal into the to

[2016-04-19 16:02] pkieltyka commented on #132
btw, as I read through the commands, I can see one challenge with `govendor get` which would be when no args are passed then, it could get/fetch all packages in vendor/vendor.json, but the problem here is, if your vendor.json is empty it will have no effect, which perhaps is okay and it should print to say, "either give me a package or run govendor sync <import-path-to-your-main-package>"

so, per

[2016-04-19 16:25] kardianos commented on #132
@pkieltyka I'm not against these ideas in general. However it isn't the tool that's been released.

However, govendor isn't just a CLI tool. It is a collection of packages that can be used to work with the vendor folder. The CLI tool happens to use these packages. It would probably only take a few hours to create a new command, based on govendor/run and govendor/context that will do all these thin

[2016-04-19 17:38] pkieltyka commented on #132
interesting.. then perhaps I could build "gov" and use govendor... but, I just feel the real utility/credit/focus is deserved by govendor. Or.. how about govendor provide a command like "gov" via github.com/kardianos/govendor/cmd/gov :)

I like how you explain a bigger vision for govendor, and encourage the use of its subpackages to write other tools to make it easier to manage dependencies (perha

[2016-04-19 17:48] kardianos commented on #132
I'd need to see how the project progressed, but it might be an option to do just that "govendor/cmd/gov".

In my experience there is a common "getting started" experience. But after that having a robust tool is much more important, and the benefit of "govendor list" and "govendor list -v filter" is supper important.

Let me know what you decide!

[2016-04-19 17:56] pkieltyka commented on #132
cool :) lets see how everything unfolds. I hear what you mean about the "getting started" hump and learning a more powerful tool can be more valuable than hiding features, thats a valid perspective. But consider that most people are lazy and working too much, so the more intuitive and comfortable the "developer experience" for adopting a technology, the lower the friction, and thus the greater the

[2016-04-19 18:01] sjezewski opened #135 "Error adding package"
I'm getting a funny parse error when trying to add a specific package.

[code]

Has the 'feel' of a funny bash input buffer error (bash input just messed up when i entered the command), but I've run it in separate bash shells and I get the same result.

[2016-04-19 18:13] kardianos commented on #135
I suspect you are running an old version; that looks like a known (fixed) bug. Could you update to latest and try again?

[2016-04-19 18:27] sjezewski commented on #135
Yup, that was it. Thanks!

I looked for something like a `govendor --version` command, but couldn't find one. Might be helpful in the future for checking what version a user / bug is on.

[2016-04-19 18:42] kardianos commented on #135
The default help message now includes a version number.

[2016-04-19 18:42] #135 closed

[2016-04-19 18:54] sjezewski commented on #135
Aha! Missed that too! Thanks for the help.

[2016-04-19 21:04] devoid commented on #117
An update on this after pulling the [latest govendor commit](https://github.com/kardianos/govendor/commit/8fda9c5c74e854ac24fb33f37565885eb8e0da56).

1. The craziness I was seeing before (with nothing happening and no errors being reported) is now gone. I am guessing this was resolved by the fixes you made to address #130.

2. `govendor fetch github.com/devoid/mycmd` still prompts to download when

[2016-04-19 23:33] devoid opened #136 "Failure to mark programs as 'program'"
With govendor v1.0.1 it looks like packages do not get tagged with the 'program' tag unless all dependences (including test dependences) are locally met. E.g. vendoring the github.com/maxbrunsfeld/counterfeiter CLI program when vendor.json's `"ignore" : ""` (default is to ignore "test")

[code]

With vendor.json's `"ignore": "test"` set, it correctly identifies `pv` and includes all dependencies:

[2016-04-21 00:01] AudriusButkevicius opened #137 "internal packages"
So not sure if this should be handled or not, but I find it strange:

[code]

Am I expected to manage internal packages myself?

[2016-04-21 19:38] kardianos commented on #137
Please run `govendor add golang.org/x/text/unicode/norm/...`

[2016-04-21 19:38] kardianos commented on #136
Acknowledged. I'll look into this in a bit.

[2016-04-21 20:06] AudriusButkevicius commented on #137
[code]

[2016-04-21 20:09] kardianos commented on #137
"/..." means to match any packages you want to use. If you just rm -rf your dir, you won't be using them, thus they won't get imported.

"/^" means to include the full tree regardless of use.

[2016-04-21 20:21] AudriusButkevicius commented on #137
[code]

[2016-04-21 21:04] kardianos commented on #137
Ah, so looking that the x/text dir structure, you want to run `govendor add golang.org/x/text/...` or just
`govendor add +external`
.

[2016-04-21 21:05] kardianos commented on #137
Of if you really want the internal folders, run:
`govendor add golang.org/x/text/^`

[2016-04-21 21:09] AudriusButkevicius commented on #137
[code]
but
[code]
works.

So all I want is to migrate an existing project to use vendored packages (all of them).
It's totally not obvious to me what I need to run for after init for the tool to pick up the dependencies including internal packages.

Having to know which package imports internal packages and then having to manually add them one by one is not what I'd expect from a tool like this.

[2016-04-21 21:40] kardianos commented on #137
The key here is that the internal package *isn't used outside of tests or generated code*. So it isn't vendored. `govendor` doesn't care if a folder is called "internal" or not.

Normally you can just
[code]
and you'll be fine.

[2016-04-21 22:16] AudriusButkevicius commented on #137
Right, the reason I was having problems with the build was the fact that it was running tests for the vendored packages, this explains it.

Thanks.

[2016-04-21 22:16] #137 closed

[2016-04-21 23:34] kardianos commented on #137
If you want to vendor test files, remove the "test" string from the "ignore" field in vendor.json after init.

[2016-04-25 23:43] slimsag opened #138 "`govendor update thepackage/...` and all it's dependencies?"
I've searched and searched through the README.md and the FAQ, but was surprised that there is not an answer for this use case given that it seems like it would be extremely common.

The use case: I have a package `thepackage` which has a huge amount of dependencies (more than I can / want to track by hand). I vendor that package, and now I want to update that package and it's all of it's dependenc

[2016-04-25 23:52] kardianos commented on #138
Use fetch

On Mon, Apr 25, 2016, 16:43 Stephen Gutekanst <notifications@github.com>
wrote:

[2016-04-25 23:54] kardianos commented on #138
Actually, I'm not sure but I'll check.

On Mon, Apr 25, 2016, 16:51 Daniel Theophanes <kardianos@gmail.com> wrote:

[2016-04-26 00:02] slimsag commented on #138
Thanks @kardianos -- I tried just now with the `+external` flag but to no avail:

[code]

Likewise `git status` shows it only updated packages under the given import path filter, not any others.

It would be nice if it could be done with `update` instead of `fetch` too, because hitting the network for updates is not always desirable (I know the versions in my $GOPATH are right, but not certain the

[2016-04-26 02:43] cespare opened #139 "Don't use the existing vendor dir as an origin for itself"
Maybe I'm holding it wrong, but I don't understand this behavior:

What I want to do:

1. `govendor add some/pkg` to add a new vendored package from my GOPATH
2. make some modifications to the package in my GOPATH (maybe a `git pull`) and `govendor update some/pkg` to update the vendored copy again
3. Repeat step 2

What happens:

(1) and (2) work, but (2) sets the `"origin"` field in vendor.json

[2016-04-26 02:44] cespare commented on #139
The workaround I'm using is to always manually delete the `"origin"` fields, since I have no use for them.

[2016-04-26 03:16] kardianos commented on #139
Bug. Thanks

On Mon, Apr 25, 2016, 19:44 Caleb Spare <notifications@github.com> wrote:

[2016-04-26 21:11] rkulla commented on #117
I agree that restoring into $GOPATH would be a hack, so I would like to see the govendor fetch method work better (I have issues with it either not pulling enough down, or putting too much into vendor.json).

Please also add documentation on this since it's very confusing and requires a lot of trial and error with `add`, `get` and `fetch`. Thanks. I really think govendor is getting close to perfec

[2016-04-27 18:58] pkieltyka opened #140 "Command to prune/remove packages no longer required"
Does a command exist to remove all packages that are no longer dependencies of the project..?

[2016-04-27 20:04] kardianos commented on #140
`govendor remote +u` ?

[2016-04-27 20:05] pkieltyka commented on #140
that would make sense.. (I assume you mean remove)

[2016-04-27 20:05] pkieltyka commented on #140
thanks! ..

[2016-04-27 20:05] #140 closed

[2016-04-28 20:38] sean- opened #141 "Library and Program in the same repository..."
In hashicorp/serf#386 someone identified a problem re: the way a repository can contain a program and a library.  I've seen your prior posts on go-nuts@, and would be interested in seeing if there's a way that `govendor` could possibly handle this scenario.  Below is a test that we have to verify if something can compile.  If there was a way to export a series of "named vendor sets" that `govendor

[2016-04-28 20:56] kaedys opened #142 "Respect build tags"
Not _sure_ if this qualifies as an issue, but here goes.  Most of our projects vendor `golang.org/x/net/context`.  However, for a recent project, we did a fresh `go get` before vendoring, just to make sure we were up to date.  The current version of that context package now includes this commit:

https://github.com/golang/net/commit/afc22ee9133171570a267463982b542fb3edff5a#diff-22b1e0bcbf56beea47f

[2016-04-28 21:08] kardianos commented on #142
You could edit the "govendor.json" file and include go1.7 to the ignore tag list.

There may be some general improvement of how we handle go specific build tags in particular.

[2016-04-28 21:12] kardianos commented on #141
There has been recent discussion regarding this, most recently that comes to mind is the coreos/etcd issue.

I'm very much on the fence on this proposal, but I put it out here: https://github.com/golang/go/issues/15369 . In essence it is designed to handle the case of a CMD and  lib in the same repo essentially, though I dislike that wording in go. I'll re-read this issue again when I have more ti

[2016-04-28 21:29] kaedys commented on #142
Roger, I'll add that in there for now.

[2016-04-29 15:46] kaedys commented on #142
Hrm...it appears that adding that to the ignore field didn't alter behavior.  Here's our vendor.json:

https://gist.github.com/kaedys/53740134020a3dfe118203beece0baa6

And we're still getting this:
[code]

[2016-04-29 15:56] kardianos commented on #142
You would need to re add the x/net/context package for it to take effect. Can also verify what is using it with `govendor list -v +v`. I can take a look at this soonish.

[2016-04-30 14:40] kardianos commented on #141
@sean- This might be a good idea.

Here is my current take away right now, please correct my understanding. In ".gitignore" you would have "vendor/*/". The "vendor.json" file

[2016-04-30 17:00] myitcv commented on #141
@sean- I don't think vendoring by itself can solve this issue. Indeed I responded to @kardianos's proposal because there has been another discussion about this [here](https://github.com/golang/go/issues/15201) in which I set forward a slightly different approach. I'm just in the process of finalising that proposal which I will shortly post via the [Go proposal process](https://github.com/golang/pr

[2016-04-30 17:28] kardianos commented on #136
I'm having trouble reproducing this. Are there some concrete steps I could take to repo this?

[2016-04-30 17:55] kardianos commented on #141
@sean- If I understand correctly, you might copy vendor files into folders not named "vendor", then after you pull, you might copy files from one of those other directory into vendor.

Kind of like a local version of "sync". After git pull, you might run "govendor pop vendor-release". After make a change to the vendor folder, you might run "govendor push vendor-release". And in your ".gitignore" f

[2016-04-30 19:03] sean- commented on #141
That's correct. I didn't want to prime the discussion upfront, but the issue is threefold: 1) vendor/ is a monolithic fossilization of dependencies for one variant or flavor of compilation, 2) the go build system doesn't support a method of selecting which fossils are required for a given variant and assumed that each repository is used for only one variant, and 3) dependencies *should* never conf

[2016-05-01 00:36] kardianos commented on #141
@sean- I agree with the analysis of the problem and think this design is good and worthwhile pursuing. I have some issues to resolve first, but then of all the feature requests, this is highest on my priority.

[2016-05-01 13:27] myitcv commented on #141
@sean- in case it's of interest, https://github.com/myitcv/go-symlink sets out an approach by which a repository containing binaries and libraries can be made to work for:

* users of the binaries
* users of the libraries
* developers of the containing repository

[2016-05-01 15:01] kardianos commented on #141
@myitcv Try cloning that on windows.

[2016-05-01 16:36] myitcv commented on #141
@kardianos I know that's an issue (just updated the [`README.md`](https://github.com/myitcv/go-symlink#getting-started-as-a-developer-of-this-repository) to make clear the current platform limitations), hence [my proposal](https://docs.google.com/document/d/1n5y3mZPs_4PjI80a0vZEaHLe7r9PeiiE9xsIrQFT8Is/edit)

I realise this doesn't provide a cross-platform solution as of right now...

[2016-05-04 00:17] kardianos commented on #136
Hmmm. Still having trouble. I'm going to put trying to solve this on ice unless I can get more detail.

[2016-05-04 00:34] kardianos commented on #138
@slimsag oh, I know why fetch did not get latest for all deps in this case, they were already in GOPATH or vendor folder and they were not explicitly specified.

It looks like I need an argument to declare update/add/fetch for this package AND all it's (non-stdlib) dependencies. This feature has been requested several times by various people recently.

[2016-05-04 00:37] slimsag commented on #138
Yep that sounds like it would do the trick exactly!
On May 3, 2016 5:34 PM, "Daniel Theophanes" <notifications@github.com>
wrote:

[2016-05-04 00:57] kardianos commented on #139
I finally got to this, easily made a failing test case (ouch, red face). I'll get a fix in soon.

[2016-05-04 12:51] #139 closed

[2016-05-04 12:55] kardianos commented on #136
Oh! The key here is that we have both "main" and "main_test". When we aren't ignoring test packages it picks up as "main_test" and doesn't flag it as a main package. I think I can test for this and fix this now. Thanks for the report.

[2016-05-04 13:17] #136 closed

[2016-05-04 13:28] kardianos commented on #142
@kaedys I just tagged a new version (v1.0.2). In my testing, if my vendor file ignored go1.7 it didn't report context as missing, at least in a simple case.

Could you verify on your end?

[2016-05-04 13:35] kardianos commented on #117
@rkulla

Would you be willing to suggest wording additions or changes that would help you distinguish between those different commands? General or specific suggestions welcome.

[2016-05-06 17:05] lcaballero opened #143 "Wording clarification for fetch and sync."
Not sure if this is clear wording:
[code]
Does sync only pull the remote into GOPATH based on vendor.json?  While fetch skips GOPATH and adds them directly to the vendor directory?  Basically for fetch what is being added to?  For sync: pulled into what?

I wanted to test this, but the repos I'm currently concerned about live on private repo, which doesn't yet allow go get (lacks meta tag with go-

[2016-05-06 18:20] kardianos commented on #143
What do you think of this wording:
[code]

[2016-05-07 06:47] gaillard opened #144 "Add tags to revision"
The tool is fantastic and I hope it becomes the defacto vendoring tool since it's nice and focused and getting more and more robust! But I still have to ask for a tiny feature :) to put any tag information for a commit in the vendor.json. it would be very nice to be able to see we are using v2 along with the commit hash. Thanks for the tool!

[2016-05-07 18:14] gaillard commented on #144
Could be good to put the tool name in the vendor.json too

[2016-05-10 15:04] kaedys commented on #142
Not sure what version I'm on (is there a `-version` flag I'm not seeing?), but your previous suggestion of adding `go1.7` to the ignore and readding `/x/net/context` did the trick, it no longer reports `context` as missing.

[2016-05-10 15:55] kardianos commented on #142
`govendor -h` reports version in the first line.

[2016-05-10 15:55] #142 closed

[2016-05-10 16:53] kardianos commented on #144
@gaillard
RE tag: Right now the tag name will be added in the version field if you specify it with "package/...@tag". But it won't be added automatically. This is by design. Would this meet your needs?

RE tool name: It was there in there before, but there were several devs who requested it be removed who made valid points, namely preventing unneeded changes if multiple tools were used on the same

[2016-05-10 21:57] lcaballero commented on #143
Excellent.   Thanks for the added clarity.

[2016-05-11 00:11] kardianos commented on #143
Opening to remind me to apply wording changes.

[2016-05-11 15:47] #143 closed

[2016-05-11 15:54] kardianos commented on #141
@sean-
I'm concerned about make a (relatively) complex tool more complex, but here is my idea:
 * New sub command `govendor stash save <name>` - copies vendor folder to "_vendor-<name>".
 * New sub command `govendor stash list`  - list all directories matching "_vendor-*"
 * New sub command `govendor stash pop <name>` - overwrites vendor folder from "_vendor-<name>".
 * Other sub commands might gr

[2016-05-11 15:57] kardianos commented on #138
Proposal:
In the update, add, remove, and fetch sub-commands, add the flag "-R" to recursively perform the action on all that packages deps to. For remove, it would only remove the packages that are not referenced elsewhere.

[2016-05-11 16:14] kardianos commented on #122
Proposed:

New sub-command `govendor notify [-u] [-gopath] <status | package>`.

 1. Find each repo, find all packages which also fall into that category.
 2. Lookup history
 3.  IF no "-u": Return list of repos that can be updated
 3.  IF -u: Return list of repos as they are updated.

By default will lookup repo in remote, but if "-gopath" is specified, just lookup in $GOPATH.

[2016-05-11 19:46] sean- commented on #141
@kardianos I like the parallel you're drawing between `git-stash` and `govendor`.  I think the two most common operations will be `apply <name>` and `save <name>`.  To be clear, I think the `govendor notify` command is more important than this, but I do think it would be a net-net win for the community of `govendor` had support for the bin/lib vendor problem.

As for the subdirectories, were you t

[2016-05-11 19:50] kardianos opened #146 "feature: new sub-command "shell""
On super large repos, like "k8s.io", the time it takes to interogate the filesystem makes govendor list a pain to use.

govendor actually maintains internally a dirty flag and only inspects the fs when that gets dirty. So create a shell for interactive queries that will be esp useful on large projects like k8s.io.
[code]

[2016-05-11 19:55] kardianos commented on #141
Good thoughts all. I'll like your thinking on these.
I prefer `_vendor-<name>` because then the std tools, including govendor itself, won't descend into
 those directories.

[2016-05-11 22:58] sean- commented on #141
...and that is an excellent point.  :~]  It may be worth noting that in a comment somewhere (I totally forgot about that rule but remember it from `godep`).

[2016-05-11 23:47] mmindenhall opened #147 "govendor fetch a fork not working"
My project uses [beego](https://github.com/astaxie/beego) for REST APIs and a small web app.  I recently forked the project and submitted a PR on the `develop` branch, which has yet to be accepted.  I tried using govendor to fetch my fork as beego, but nothing has worked.  I've tried many permutations of `/^` vs `/...`, different version specs (`@develop`, `@=develop`, `@commit-hash-of-my-develop`

[2016-05-12 03:11] kardianos commented on #147
I'm not sure what the problem is.

When I run the following in a new repo:
[code]
It pulls down your changes from the develop branch into the `vendor/github.com/astaxie/beego` folder. I can see the change you made to the "template.go" file. Am I missing something?

[2016-05-12 14:26] mmindenhall commented on #147
Doing that in an _empty_ repo works.  However, if there's code in the repo that imports the package, something goes awry.

Easy steps to reproduce:

1.  Start with a new empty repo
1.  `govendor init`
1.  Create `hello.go`:

[code]
1. `govendor fetch github.com/astaxie/beego/^::github.com/MachineShop-IOT/beego@develop`

The entry in vendor.json will look like this (latest from astaxie/beego@develo

[2016-05-12 15:48] kardianos commented on #147
You know what? You are correct. I just realized what change that was made recently that probably caused this. I should be able to add a specific test and fix this.

[2016-05-17 03:36] sean- commented on #141
I just learned about [manul](https://github.com/kovetskiy/manul) and think it's approach using `git` submodules is a clever-enough way to swap in and out sets of vendored dependencies.  Generally speaking I loath `git` submodules but named sets of submodules managed via `govendor` might be one way to augment what is shipped in `vendor/`. I need to chew on this for a while, but thought I'd pass it

[2016-05-18 05:03] #147 closed

[2016-05-18 06:11] #146 closed

[2016-05-19 17:53] jhh commented on #122
If I understand the proposed sub-command correctly, might it be better to use "outdated"  as the sub-command name instead of "notify"? This would be consistent with other tools I've used like: gem, npm, and brew.

[2016-05-20 12:00] mjdavies opened #150 "govendoring with docker"
Hello there.

This isn't an issue with govendor as such, but more of a question.

I'm building a go app with docker, and I'm installing govendor in the Dockerfile.  That works fine, and once I've built the image, then used docker-compose to run the container I can see that govendor is installed.

mac:~$ docker exec containername which govendor
/go/bin/govendor

I'm struggling now to run the govend

[2016-05-20 12:11] mjdavies commented on #150
Hello there.

I worked it out.

docker exec containername /bin/bash -c 'cd /path/to/app && govendor list'

bit clunky, but until docker exec get's the ability to change working directory, this is the best I've got

[2016-05-20 12:11] #150 closed

[2016-05-25 13:14] mlitvin opened #151 "fetch does not work with private bitbucket repositories"
it fails for both new fetches and updating existing one (that where added with add).

It seems that the immediate error is that it tries to use the API to find out of it is git or mercurial and fail.

I tried a temporary hack in the code that in case of failure (error 403) it will assume git (seems a reasonable default in general and certainly for me) and then it:
1. didn't report errors
2. Update

[2016-05-26 10:44] edganiukov opened #152 "bug: govendor shows unused and non-existing dependencies as missed"
Hi,
I faced with problem, when govendor fetchs dependecies that actually has no reference in code and does exist at all.
For example: `govendor fetch golang.org/x/net/context` additionally creates empty `vendor/context` dir and empty `context` entry in `vendor.json`.
When I remove wrong "context" lib (not golang.org/x/net/context), govendor list shows that it is messed:
[code]
and
[code]

[2016-05-26 13:34] kardianos commented on #152
context is a new package in 1.7. the other x context pkg references. The
empty folder is a bug.

On Thu, May 26, 2016, 03:44 Ed Ganiukov <notifications@github.com> wrote:

[2016-05-26 13:55] edganiukov commented on #152
Thanks for replay. So, if I understand correct, I can ignore it, because I don't it right now, with:
`"ignore": "go1.7"`

[2016-05-26 14:48] kardianos commented on #152
Yes

[2016-05-26 15:31] termie opened #153 "when fetching dependent packages in the same base repo, revision is not respected"
Happened to me with kubernetes, I did a

`govendor fetch k8s.io/kubernetes/pkg/kubectl/cmd@01e79b88e1fd589861f92f0d7e2f8b236988a441`

But many of the other k8s.90/kubernetes dependencies that were added used the most recent revision

[2016-05-27 02:55] gaillard commented on #144
It would yes, thanks. The tool name as an option or the first tool to put it there or instead labeled last tool name all sound like options?

[2016-05-30 09:16] YueHonghui opened #155 "[feature] add "repo" into top level of vender file to redirect all paths to local repos"
We plan to use golang in our team, and want to create a local repo mirror that copy all dependencies we used in our private network. But after playing with dependency manager tools like godep and govender, we realized it is difficult work.
I suggest add "repo" into top level of vender file, to redirect all `origin` to `repo/origin`, like this:
[code]
This will tell vendor tools to fetch "privatedo

[2016-05-30 21:32] jacek99 commented on #155
+1 we are struggling with the same issue as well

[2016-05-31 16:21] kardianos commented on #155
I'm open to this.

In your opinion, would this be per project, or a global setting for all govendor use in that env? Would this private repo have a http meta-tag setup for it or would we need to record the full vcs info. I assume any credentials would be taken care of in the existing env.

[2016-06-01 09:51] benoitmasson opened #156 "Ignore specific packages"
Hi, I'd like to know if there is a way to explicitly exclude some packages from the `govendor` scope. I don't think that the `ignore` field of `vendor.json` currently allows this (or I couldn't find the way to do it)… Wouldn't it be interesting to add this possibility?

I am aware that with usual dependencies, it is rather useless to exclude a particular `github.com/…` dependency from being vendor

[2016-06-01 15:31] kardianos commented on #156
I understand why you might want to do this.

However, I don't think it would work. If your app/cmd and lib reference the same package, then they would need packages to have the same path. As you develop your lib, my advice is to either: clone directly into the app/cmd sub-folder or just vendor after you've released a new lib feature set.

lib/vendor/github/a/a
app/vendor/github/a/a

Both "a" packa

[2016-06-03 16:53] jefferai opened #157 "Only list duplicate GOPATH packages with -v on."
I'm hitting some strange behavior and @sean- suggested putting in the status of things in a bug report.

I added a new dependency (`github.com/hashicorp/scada-client/scada`) in my code and was trying to have `govendor` tell me which packages are missing.

The package to pay attention to is `go-multierror`, which already exists in `vendor/` and at the same revision.
[code]
So basically, I have no i

[2016-06-03 17:14] kaedys commented on #138
Further, make sure this works with `govendor remove -R +unused`, to recursively remove all unused packages, and then any packages that are now unused with their removal, and so on, until the only packages that are remaining are those explicitly used by the root repo, or packages those reference.  Basically works as a "clean up my `/vendor`" command.

[2016-06-03 17:41] kardianos commented on #157
I'm guessing the reason `go-multierror` is showing up as "external" is that there is another package you are referencing in GOPATH (external) that is using `go-multierror`. The important thing to keep in mind is that go compiles things per package, and govendor reflects that. So if a GOPATH package that you use references `go-multierror` and a local package references `go-multierror`, you are refe

[2016-06-03 17:42] kardianos commented on #138
@kaedys Good point. I can add a test for that too.

[2016-06-03 18:19] evanphx commented on #157
@jefferai `+missing` only reports packages that are neither in `vendor/` nor `$GOPATH`, in other words, missing from this machine.

[2016-06-04 08:49] benoitmasson commented on #156
You're right, however, I believe this is the case only when both pieces of code reference variables or unexported definitions in the same imported package. Functions and type definitions should work without trouble.

I actually faced this issue earlier, it was caused by the use of `reflect` in one project, to get an interface object implemented by an unexported type initialized in the other projec

[2016-06-06 12:48] jefferai commented on #157
@kardianos The new package only exists in GOPATH and isn't yet vendored, so in turn it's referencing a package which is both vendored and in GOPATH, and so on. I understand that they are technically different packages, and maybe I had some unreasonable expectations for what govendor would analyze/tell me, but I still cannot figure out how to get govendor to tell me, at a single level, which packag

[2016-06-06 20:22] kardianos commented on #157
I understand.

The problem with just saying "A", is that isn't a complete picture of what is going on. Actually, govendor used to have this behavior but I considered it a bug. For convenience govendor list only shows the "import path", not the disk path from GOPATH/src root. And the "import path" can be both referenced from vendor folder and GOPATH.

`govendor +out` will give you `+missing +extern

[2016-06-06 21:11] jefferai commented on #157
Hi @kardianos ,

Basically, what I wanted to figure out was what packages had been added to the project that had not already been a part of the project. I realize that I could use `govendor` to simply add `external` (or `outside`) packages and then use `git status` to take a look, but I figured that `govendor` would be able to do this for me without requiring an external tool. (Also, attempting to

[2016-06-07 00:19] kardianos commented on #157
I'm sympathetic to this request.

Right now I want `govendor list` to show by default the status of packages, as they would be compiled. This default output is really useful when people get odd compiler messages. My answer is always, "run govendor list -v", then they say, "oohh, that package is in two different places, used here as X and here as Y".

However, rather than add a new status or change

[2016-06-07 12:39] sean- commented on #157
@Kardianos You bring up an interesting point, is govendor intended primarily for consumers and users of a project, or developers releasing software? I actually really liked the old behavior of missing and am +1 for restoring its old behavior because it fit the option's semantics (I actually didn't realize the behavior had changed until walking through this problem with @jefferai).

From a release

[2016-06-07 13:21] jefferai commented on #157
I actually like @sean- 's suggestion of `+dist`. One common problem we have is that someone will add a dep, not realize it, and commit, breaking tests and others' compilations. In other words, the code cannot be distributed. We could encourage a workflow of blindly adding a `govendor add` and/or `govendor update` but I think that will end up causing problems too with the current status primitives

[2016-06-07 17:14] kardianos commented on #157
@jefferai @sean-
I'm actually confused now. I'm open to doing a quick google hangout if you'd like...

So govendor is mainly targeted at developers who add and remove deps from a project. Other then maybe `govendor sync`, other devs or users shouldn't be using govendor.

If a package is listed as external, then **that package will be compiled from GOPATH, not govendor, even if that package is alre

[2016-06-07 20:33] jefferai commented on #157
Sure -- but this is, in my case, three people. We don't have some central person who is responsible for adding or removing deps. When one of the team members adds a dep, they are the one that then needs to update the vendoring.

I may be wrong, but I believe this is only partly true. If a package is listed as external but is *also* vendored, then I believe packages that are not vendored will use t

[2016-06-07 20:49] kardianos commented on #157
Sounds good. No issue here.

Assuming only direct dependencies, yes. So you might compile two different packages with the same import path.

If you run `govendor add +external`, it won't re-add a package it already has in vendor, but it will add the other packages that are not present. But I do get that what you want to see .

 * Packages you want to add (not yet vendored)
 * vs Packages as a comp

[2016-06-10 02:00] pawanrawal opened #161 "Understanding go get if dependencies are checked in"
We use govendor to check in all our vendor dependencies in the repo. Now when someone want to install our project should they run

go get -u github.com/dgraph-io/dgraph/... or not have the -u. My thinking is that -u would update deps to latest version which we dont want. We want the version of deps thats checked in. Am i thinking right?

[2016-06-10 04:08] abijr commented on #161
Yes, you're thinking right, the correct way is to just use `govendor sync`.  It will download your deps to the `vendor` folder according to your configuration.

The complete process will be to install govendor, run the `govendor sync` and thats it, you've got your deps as recorded in the vendor.json file.

[2016-06-10 10:20] nicorevin opened #162 "Trying to update deps just deletes all .go files recursively"
[code]
vendor.json has been updated with `origin`s and all actual dependencies are gone leaving the folders empty.
`govendor list` thinks it is all ok then.

[2016-06-10 22:58] kris-runzer opened #163 "Allow status to be passed to sync?"
Would it make sense to allow status to be passed to sync?  I find myself wanting to perform a sync operation but only on missing projects.

The problem I run into is having private repo dependencies.  The private repos may not always be checked in (we pass then into our build server, Concourse CI, to run an isolated build to make sure things will work when pushed).  I managed to get close but find

[2016-06-13 05:35] pawanrawal commented on #161
I am not sure I even need to run `govendor sync` as all our dependencies are already checked in the repo.

[2016-06-13 12:04] fatih commented on #85
I need to remove the import comments as part of a custom script. Is there a way to do it with govendor?

[2016-06-13 17:29] kardianos commented on #85
@fatih Have you tried using "gorename"?

[2016-06-13 17:30] kardianos commented on #161
`go get` won't touch the vendor folder. So if you have copied all dependencies locally, a go get will download your repo, install the commands, and be done. Nothing else needed.

[2016-06-13 17:30] #161 closed

[2016-06-13 17:32] kardianos commented on #163
`govendor sync` will only operate on missing or outdated packages already by using a checksum hash.

In other words, it should do what you want already without any additional flags.

[2016-06-13 17:33] kardianos commented on #162
Can you give me a way to reproduce? What is your source tree look like? A repo I can clone plus commands to run to reproduce?

[2016-06-13 18:16] kris-runzer commented on #163
Strange.  I'll re-confirm what I was running into and post a follow up.

[2016-06-13 20:33] fatih commented on #85
@kardianos gorename doesn't allow me to rename `import comments`. For now I've just added these non Go ast aware script:

[code]

And this doesn't cover of course the case for import comments of `/* ... */`. I would be more than happy if you could provide a hidden flag or something else. I'm using `govendor` for a project to extract a package from a huge monorepo which is already using the `vendor

[2016-06-13 20:55] kardianos commented on #85
Out of curiosity, what do you need this for?

On Mon, Jun 13, 2016 at 1:33 PM Fatih Arslan <notifications@github.com>
wrote:

[2016-06-13 20:59] fatih commented on #85
@kardianos checkout the issue https://github.com/prometheus/prometheus/issues/1720

Currently you can't use the package `promql`. I've exctracted it to a standalone package with a completely different import path, such as `foo/promql`. Just removing the `vendor` package and then using the `promql` package via public facing packages don't work, because `promql` depends on the dependencies that are

[2016-06-13 21:26] kardianos commented on #85
Ah. Yeah, govendor isn't designed to extract a package tree.

If you look at the issue list, there is an open issue to try to use a package as both a command with copied dependencies and as a library package.

I don't have a great answer for that. Okay, I do. Move your vendor folder into the `cmd/` folder and vendor your "library" packages into that vendor folder. If you keep it in the files in th

[2016-06-13 21:31] fatih commented on #85
@kardianos you are right. I'm aware that `govendor` is not suitable, I'm just using it partially and I had to remove the import comments, saw this issue and thought I mention, maybe there is a hidden option or setting I could use. Thanks for your help.

[2016-06-13 23:08] nicorevin commented on #162
I faced it working with journalbeat and our local aforementioned `vm` project.

[code]

Last command's output for me is this:
[code]

Another example (`vm`-alike in terms of dependencies):
create `$GOPATH/src/some_folder`, go there and create `main.go` containing this:
[code]

Run:
[code]

I've tried it with `govendor`, `godep` and `coreos/etcd` and could not reproduce the issue.
Your tool just wo

[2016-06-14 14:51] kaedys opened #164 "Can't add non-VCS packages"
Ran into a very odd roadblock.  I'd extracted a set of packages from one of my apps into a separate project for eventual upload as its own vendorable repository.  However, when trying to vendor the package in the old app (so I could test its functionality, and vendoring was necessary because it imported a package that was also vendored in that project, so it had to be vendored to use the "same" pa

[2016-06-14 16:59] kaedys opened #165 "Ignore tag not being ignored"
Relevant portion of my vendor.json (elided some stuff because I'm not sure how finicky my workplace is about opsec):

[code]

I have `test` in the ignore list.  Previously, it was properly ignoring files with `test` in their name.  However, after a recent `go get -u github.com/kardianos/govendor` to try to fix an ancillary issue, it is now ignoring that flag and improperly trying to include the te

[2016-06-17 22:22] kaey opened #168 "Fetch fails for github.com/aws/aws-sdk-go/^"
Repro:

[code]

Not sure where does this golang.org/x/tools/PATENTS come from.

[2016-06-18 01:16] RenEvo opened #169 "Error Message: not a go package or not in GOPATH"
This is plaguing me pretty hardcore at the moment, as it is happening on both windows and mac for me, quite possibly I am just being stupidly noob here, but...

[code]

I get the error above. When validating with go env, the working directory IS the GOPATH.

[code]

[code]

Pulling my hair out on this, any insight?

[2016-06-18 01:36] RenEvo commented on #169
Tracking it down to possibly here:
https://github.com/kardianos/govendor/blob/master/internal/pathos/path.go#L25

[2016-06-18 02:00] RenEvo commented on #169
As I have seen a lot of others do, I added a bunch of printf lines everywhere in the code to try and track this down.

What I found is that internally the [gopaths are appended with /src/](https://github.com/kardianos/govendor/blob/e1feb5e23119ff2ee2d0e7d8d3dce8cd308851fe/context/context.go#L206), I am sure this is for a good reason, however, when comparing, it compares against the [working direct

[2016-06-19 15:32] kaey commented on #169
Go's standard directory layout looks like:
[code]

Govendor follows this structure. There aren't any reasons to run govendor in src directory (at least I can't think of any)

[2016-06-19 15:37] kaey commented on #164
Did you try to vendor your project as a tree?
[code]

Empty directory is not a go package. Error message could be improved though.

[2016-06-19 15:52] kaey commented on #165
Which version of govendor did you use? I cannot reproduce your first problem on 149dead.

[2016-06-20 15:15] kaedys commented on #165
v1.0.3

[2016-06-20 16:51] kaedys commented on #164
The directory wasn't actually empty, it had valid go files in it, I just hadn't made a commit yet.  I didn't try vendoring by tree because the directory in question had no subdirectories.

[2016-06-20 20:04] tmc opened #170 "Better message (or interactive choice) for conflict."
I want to update all vendored deps ala `govendor update +vendor`

[code]

what's the right way to update all vendored packages (other than using list and xargs)?

[2016-06-20 20:19] VojtechVitek opened #171 "Fetch unknown pkg generates weird dependency in vendor.json"
`$ govendor fetch 111`

Actual:
[code]

Expected:
Error - `111 doesn't exist`

[2016-06-20 20:23] kardianos commented on #170
what does `tree -d` say?

[2016-06-20 20:24] kardianos commented on #171
Yeah, looks like a bug.

[2016-06-20 21:32] tmc commented on #170
is `-d` a valid option?

[2016-06-20 21:42] kardianos commented on #170
on my tree command. I just want to list directories.

[2016-06-22 19:59] nmiyake opened #173 "govendor fetch ^ fails if package uses vendoring"
`govendor fetch` calls that use `^` on packages that themselves have a `vendor` directory consistently fail:

[code]

Every repo that I've tried with a `vendor` folder so far has failed:
* `github.com/cloudflare/cfssl/^`
* `github.com/aws/aws-sdk-go/^`
* `github.com/nmiyake/govendortest/^`

This issue is a more general version of #168

[2016-06-22 22:14] nmiyake opened #174 "Make "add" behavior match "fetch" for packages with vendored dependencies"
In an empty directory with `govendor init`, `govendor fetch <pkg>` will properly fetch the requested package and all of its vendored dependencies. However, it doesn't seem possible to get the same result using `govendor add <pkg>`, even if `<pkg>` exists in the local GOPATH.

I can't `go get` or `govendor fetch` my project because of network setup so I want to use `govendor add` to achieve the sam

[2016-06-23 17:01] judwhite opened #175 "govendor fetch on Windows/git: \r\n line endings"
I have `git config --global core.autocrlf false` and the files use `\n` in the repo I'm trying to vendor.

I noticed a lot of changed files in my `./vendor` while migrating from manual to `govendor` related to line endings. The repo containing the vendor folder doesn't override `core.autocrlf`.

I tried using Cygwin bash to run `govendor` and got the same results.

Any ideas what could be causing

[2016-06-23 18:56] kardianos commented on #175
Maybe they are getting gofmt formatted, which uses \n?
Generally I use checkin,checkout, as-is.

On Thu, Jun 23, 2016 at 10:01 AM Jud White <notifications@github.com> wrote:

[2016-06-23 21:16] judwhite commented on #175
My mistake, I completely failed to mention what's happening other than in the less-than-clear title :)

Expected: `\n` Actual: `\r\n`

`core.autocrlf false` is checkin,checkout as-is. It's `\n` in the source repo, I'm getting `\r\n` on disk using `govendor`. Use `git` or `go get` I get the expected `\n` line endings.

[2016-06-24 17:45] kardianos commented on #175
uhhh, I don't know. There is nothing that I know of in govendor that would
alter the line endings. I can look into it a bit, especially if you can
make a repo case, I do have a windows box with msys git.

On Thu, Jun 23, 2016 at 2:16 PM Jud White <notifications@github.com> wrote:

[2016-06-24 18:48] judwhite commented on #175
Tried on another computer with a fresh repo and couldn't reproduce using the same dependencies. I'll try on the computer where I saw this and see if I can repro again tonight.

[2016-06-28 20:06] urashidmalik opened #176 "Support for insecure repo"
Error: Remotes failed for:
        Failed for "git.apache.org/thrift.git/lib/go/thrift" (repo remote not secure): <nil>

[2016-06-28 20:37] bshi opened #177 "Is there any plan to merge "rewrite" branch into master?"

[2016-06-28 21:13] kardianos commented on #177
The rewrite branch is historical when we vendored into "internal", before the vendor folder existed.

Why do you ask?

[2016-06-28 21:14] kardianos commented on #176
[code]

[2016-06-28 21:45] bshi commented on #177
Ah, sounds like I misinterpreted what the branch was doing.  I ask because I was curious if there is (planned?) support for rewriting import paths ala [1] as a workaround to issues like https://github.com/golang/go/issues/12432

[1] https://groups.google.com/forum/#!topic/golang-dev/nMWoEAG55v8%5B1-25%5D

[2016-06-28 21:52] kardianos commented on #177
Yes, this rewrite branch dates to when this thread was authored. That thread is outdated.

The issue you stated isn't an "issue". You can have the same problem regardless of whether you rewrite the import path explicitly or put it in the vendor folder.

You can use the "rewrite" branch if you'd like to, it should still work, but I don't plan to maintain it more. I just didn't want someone who migh

[2016-06-28 21:52] #177 closed

[2016-06-29 15:36] fungl164 opened #178 "Govendor fails when no remote master branch is available"
Hello,

I was trying to fetch missing packages, but failed with this:
[code]

It looks like it's trying to work off master, but the github package does not have one.  Is there a way around this?

Many thnxs!

[2016-06-29 18:42] VojtechVitek opened #179 "fetch should default to stated revision for all sub packages."
Hi,
I'm trying to update one dependency using:

[code]

I need the latest v2-beta branch to be checked out. The latest commit on remote branch is a5a03b3179af11bb6e0ccb65cde85919de0a959e btw.

---

After running the command:

[code]

Everything seems correct, govendor pulled the right revision a5a03b3179af11bb6e0ccb65cde85919de0a959e -- but it **failed to pull all the new commits from that revisio

[2016-06-29 19:01] VojtechVitek commented on #179
Actually, I think I found a fix:

[code]

I didn't fetch all subpackages before. So this is not a bug -- but something not really obvious :-/

@kardianos Do you think we should update README / CLI help to make this behavior more clear? I bet there're more people like me doing the same mistake. :) Thanks!

[2016-06-29 20:56] kardianos commented on #179
I actually want to change this behavior in govendor, so that it defaults to what you expected initially. I just haven't made the time to begin that modification.

[2016-06-29 21:15] VojtechVitek commented on #179
Nice, that'd be great!

[2016-06-29 23:10] kardianos commented on #178
Maybe: `govendor fetch github.com/go-playground/validator/...@v8` ?

[2016-06-30 15:31] #176 closed

[2016-06-30 15:32] kardianos commented on #175
If you can reproduce, feel free to reopen this issue.

[2016-06-30 15:32] #175 closed

[2016-06-30 15:35] kardianos commented on #144
@gaillard I think I'm going to hold off for now on putting the tool name in there.

[2016-06-30 15:35] #144 closed

[2016-06-30 15:44] kardianos commented on #151
We use `golang.org/x/tools/go/vcs` to download deps. I need to look for some upstream issues before progressing on this. Thanks for the report.

[2016-06-30 15:45] #152 closed

[2016-06-30 15:47] kardianos commented on #153
Thank you. I need to have fetch default to the specified revision. Right now you need to use `cmd/...@1e7` to specify all the packages.

[2016-06-30 15:48] #156 closed

[2016-06-30 16:12] #163 closed

[2016-06-30 16:41] kardianos commented on #165
Thanks for the reports. I'll try to look into these issues.

[2016-06-30 16:42] kardianos commented on #168
There is an open PR that will probably fix this issue. I'll try to fix this soon.

[2016-06-30 16:44] kardianos commented on #169
@RenEvo What is the error message that would make more sense to you in this case?

[2016-06-30 16:46] kardianos commented on #173
Thanks for the report. This is reflected in two other issues and a PR. I'll have a fix soon.

[2016-06-30 21:56] #179 closed

[2016-06-30 21:58] kardianos commented on #153
This should now be fixed on master HEAD.

[2016-06-30 21:58] #153 closed

[2016-07-01 06:49] VojtechVitek commented on #179
Thank you!

[2016-07-01 17:54] fungl164 commented on #178
@kardianos Thnxs! Works beautifully...

[2016-07-03 16:14] timoreimann commented on #138
@kardianos any update on this one? It's likely the one key feature missing to me. Would love to have it!

[2016-07-03 16:50] kardianos commented on #138
Not yet. This last month I've had other activities on my plate. It looks like most of them are taken care of so I can focus on this soon.

[2016-07-03 16:59] timoreimann commented on #138
Sounds promising. Appreciate the update?

[2016-07-03 22:25] nicorevin commented on #162
@kardianos I've noticed one thing with `github.com/mheese/journalbeat`. Since Journalbeat has now vendoring enabled running `govendor fetch +v` does nothing but sets the origins of all dependencies as `github.com/mheese/journalbeat/vendor/$ORIGINAL_PACKAGE_PATH`, rewrites the commit hash and revision time likes this:
[code]
Working with internal projects not hosted anywhere leads to what is claime

[2016-07-04 07:48] ly-william opened #180 "Fetch private repo using SSH"
I have a private project that I want to depend on. In order to fetch it I do:
[code]
It works but it asks me for my gitlab credential. The thing is that I want to automate it on my CI instance as well. I would like to know if it's possible to indicate govendor to fetch the project over SSH (using ssh key only) instead without being prompted anything.

[2016-07-05 07:04] vrischmann opened #181 "govendor update ignores modified files"
Hi,

In some cases when I try to update some dep using `govendor update git.example.com/stuff` govendor doesn't update anything.

I've dug around in the code and I believe it's because it stops here: https://github.com/kardianos/govendor/blob/master/context/modify.go#L381

I've set debug to true and added a dprintf just before the return, this is what I get:

    found import: "/Users/sphax/dev/go

[2016-07-09 18:05] sean- commented on #169
I'm running into the same problem intermittently as well and it's driving me crazy.  I seem to run into this when running `govendor vet +local $(VETARGS)` and it's non-deterministic.  I'll be working and suddenly I'll see:

[code]

And what's really bothering me is it works sometimes, like a few minutes later it will just work.  I've found that, for *whatever* reason, if I toggle between `bsdmake

[2016-07-09 18:14] sean- opened #183 "govendor tool wrapping..."
What's the right way to call `go tool vet` ?  It doesn't look like the current behavior is correct.  Without `govendor`, I can run `go tool vet -all .` and have this run successfully.  When I run this through `govendor` with some printf debugging right before `cmd.Run()`:

[code]

Printf debugging:

[code]

Am I missing something in the invocation or does this not work?

[2016-07-10 13:59] kaey commented on #169
This looks like a totally different problem.
Please, file a new issue and try to find smallest possible repro. Thanks.

[2016-07-11 22:11] steenzout opened #184 "govendor fetch is not working for labstack/echo"
using `govendor`:
[code]

manual checkout:
[code]

why aren't `fasthttp`, `standard` included?

[2016-07-11 22:42] kardianos commented on #184
run "govendor fetch github.com/labstack/echo/...
<http://github.com/labstack/echo@v2.0.2>@v2.0.2
<http://github.com/labstack/echo@v2.0.2>

On Mon, Jul 11, 2016 at 3:11 PM Pedro Salgado <notifications@github.com>
wrote:

[2016-07-11 23:42] steenzout commented on #184
thank you.

[2016-07-11 23:42] #184 closed

[2016-07-13 09:42] santagada opened #185 "govendor test +local not tesing subpackages anymore"
I had this line to run all tests on my project:
govendor test +local

and it was running all tests, but at some point after an update it only runs the . package and no subpackages.
go get -u github.com/kardianos/govendor doesn't fixes it.

[2016-07-13 13:31] kardianos commented on #185
Can you post the output of `govendor list +local` ?

[2016-07-14 08:12] santagada commented on #185
sub <org> <module> for the two folders because this is a private repo

[code]

It looks correct and in an old version of govendor it worked, It was failing on ci because it had a more up to date version of govendor and now that I updated mine it also fails on my machine (should have look at which version I had before, but I thought there was a way to fix it)

[2016-07-14 08:46] romeovs opened #186 "Add verbose flag"
It would be great to have a `-v` flag for the `govendor` commands, to be able to know what it is doing. For instance, my `govendor sync` takes quite a while because of the number of packages I'm vendoring, so some feedback on where it's at would really be nice (like `go install -v`).

[2016-07-15 16:53] santagada commented on #185
any insight @kardianos ?

[2016-07-15 17:03] kardianos commented on #185
I'll look into this today. Hang tight. Thanks for the ping.

On Fri, Jul 15, 2016 at 9:53 AM Leonardo Santagada <notifications@github.com>
wrote:

[2016-07-15 23:56] kardianos commented on #185
When I run `govendor fmt -n +local` it matches `govendor list +local`. All the go wrapped commands use the same code paths, so fmt would be the same as test. If in double, you can also run `govendor test -n +local`. At least on the repo example I used, it appeared to work.

Maybe something else changed? Is the repo you are experiencing this on public or can you reproduce it on a public repo?

[2016-07-17 00:15] santagada commented on #185
the problem appears to be with passing flags to tests:
govendor -v +local (and -n) works fine but govendor -v +local -config config.drone.cfg only runs the root package test binary for some reason.

[2016-07-17 00:37] kardianos commented on #185
Thank you for the additional information. I'll look into it in a day or so.

On Sat, Jul 16, 2016 at 5:15 PM Leonardo Santagada <notifications@github.com>
wrote:

[2016-07-18 13:24] andreynering opened #187 "govendor hangs when the package dir has a node_modules folder on Windows"
Node has a well-known bug on Windows: when the node_modules folder get too deep (almost always), Windows can't handle it anymore and some errors can happen. Ref: https://github.com/nodejs/node-v0.x-archive/issues/6960

So, we have a webapp where we use Gulp to build assets, and govendor refuses to work with the node_modules present:

Error: GetFileAttributesEx D:\...\Go\src\myPackage\node_modules\

[2016-07-18 14:19] kardianos commented on #187
To me it sounds like a path max length issue. One way I can get around this is to test if the path is longer then MAX_PATH and if so, prefix with `\\?\`. See https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx (search for "Maximum Path Length Limitation"), does that sound like your issue?

[2016-07-18 14:27] andreynering commented on #187
Thanks for the fast response.

Yes, this is exactly a path length issue.

I don't know enough to tell if your suggestion will work, but feel free to ask me to test a possible solution.

[2016-07-18 16:53] diwakergupta opened #188 "govendor fetch doesn't update packages correctly"
I've been using govendor for dbxcli (https://github.com/dropbox/dbxcli) -- thanks! But everytime I try to _update_ existing dependencies to their latest version, it doesn't work.

Specifically, running `govendor fetch +v` doesn't ever actually update dependencies -- all it does is update `vendor.json` thus:

[code]

Note the new `origin` field.

Contrast this with the following (which, ideally, sh

[2016-07-19 10:31] kardianos commented on #188
This is indeed a bug.
I'll look into and add a regression test.

[2016-07-19 11:49] #168 closed

[2016-07-19 11:49] #173 closed

[2016-07-19 12:18] #188 closed

[2016-07-19 12:22] kardianos commented on #183
govendor (currently) wraps "go vet". It looks like you are wanting "go tool vet".

I think the correct fix is to add the tool sub-command to the wrappable commands.

[2016-07-19 12:36] #183 closed

[2016-07-19 12:46] #185 closed

[2016-07-19 12:47] kardianos commented on #185
Please try the latest on master.
I've updated the behavior so it expands the status flags in place without affecting ordering.

[2016-07-19 12:49] kardianos commented on #181
Hi, could you try to make a test case of this? Thanks.

[2016-07-19 12:50] kardianos commented on #180
That I don't know. Can you place the ssh key in an ssh agent prior to fetching?

[2016-07-19 12:59] kardianos commented on #141
There is talk about maybe altering vendoring in some manner to truly address this.
@nf may represent the go core team. So for now I'd like to hold off on this idea.

But regardless of versioning or metadata stuff, this is what really is going to matter.

[2016-07-20 06:56] sean- commented on #183
Thank you.  I thought `go vet` was depreciated in favor of `go tool vet`.  Cheers!

[2016-07-20 08:05] ajaybc opened #189 "Feature to automatically fetch the dependencies"
When I do a `go get` in a folder containing my source code, it automatically fetches the dependencies from the code and puts them into the $GOPATH.
Is there a similar command in govendor for that ? When I do a `govendor get` it seems to do nothing.
Am I missing something here ?

[2016-07-20 14:22] kardianos commented on #189
You want "govendor fetch +outside".

On Wed, Jul 20, 2016 at 1:05 AM Ajay Balachandran <notifications@github.com>
wrote:

[2016-07-21 07:43] ly-william commented on #180
Added my key with `ssh-add ~/.ssh/id_rsa` but govendor still asks for my credential when fetching my repo.

[2016-07-21 07:59] alicebob opened #190 "`update` does nothing"
Hi,

I can't seem to get `update` do anything.

`govendor` is the latest, `go` is from tip

I have a library in the vendor file, previously vendored with govendor:

[code]

the repo in GOPATH is newer and on master:

[code]

but running govendor doesn't update it:

[code]

Did I miss anything? Thanks!

[2016-07-21 15:30] nicorevin commented on #162
Fixed in https://github.com/kardianos/govendor/commit/4cd46d367e180051eccf5bda300339488648f272

[2016-07-21 15:30] #162 closed

[2016-07-22 00:02] gpitfield commented on #190
I've been having this problem as well.

[2016-07-22 20:42] ypaq commented on #180
use `git config --global url."git@github.com:".insteadOf "https://github.com/"`

[2016-07-23 10:55] alicebob commented on #190
Bisect points to a979ca595b8450cb8fd8b3fa050376bf3f9b6bea being the first broken commit.

[2016-07-23 11:43] alicebob commented on #190
Disabling this `if` block:
https://github.com/kardianos/govendor/commit/a979ca595b8450cb8fd8b3fa050376bf3f9b6bea#diff-4ee7a03f4c324f11635a82bbfcbfbddcR289

xor this line:

https://github.com/kardianos/govendor/commit/a979ca595b8450cb8fd8b3fa050376bf3f9b6bea#diff-4ee7a03f4c324f11635a82bbfcbfbddcR287

makes the update seem to work. Tests won't pass anymore, though.

@kardianos you have any idea?

[2016-07-23 14:16] kardianos commented on #190
Assuming tip is broken still? I'll look at today.

On Sat, Jul 23, 2016, 04:43 Harmen <notifications@github.com> wrote:

[2016-07-23 18:56] kardianos commented on #190
Oh! I know why. If you remove your origin line, it will fix it.

I need to ignore the origin line if it points to self. I'll issue a fix for this soon.

[2016-07-23 19:49] #190 closed

[2016-07-24 09:05] alicebob commented on #190
Seems to work. Thanks!

[2016-07-24 17:11] #189 closed

[2016-07-24 17:12] kardianos commented on #180
@ly-william Can you confirm if @ypaq 's fix worked (a change or the git remote)?

[2016-07-24 17:13] kardianos commented on #181
@vrischmann I think this is fixed at HEAD now. Can you retest please?

[2016-07-24 17:18] kardianos opened #191 "Ensure update respects origin in GOPATH"
Extracted from #165

On a tangential note, govendor update git.apache.org/thrift.git/lib/go/thrift does not work. It does not respect the origin specified in the vendor file, and instead looks for the actual package git.apache.org/thrift.git/lib/go/thrift in my $GOPATH. I have to type govendor update git.apache.org/thrift.git/lib/go/thrift::<elided>/thrift to get it to update properly, which seems

[2016-07-24 17:20] kardianos commented on #165
I've extracted the second issue into its own (update should respect origin).

Let me see if I can reproduce this issue.

[2016-07-24 19:21] #191 closed

[2016-07-24 19:25] kardianos commented on #165
@kaedys I was able to correct the second issue you described. However I was unable to reproduce the primary issue for this however :/ . Could you test it again at tip to see if it is fixed in your env now?

[2016-07-24 19:26] kardianos commented on #151
Can you look at #180 to see if it is relevant here?

[2016-07-24 19:32] bigdrum opened #192 "Documentation for vendor.json"
I find it much easier to work with vendor.json instead of figuring out different commands to manipulate its state. It feels more declarative and deterministic to me.

I wonder if the project can give an official documentation?

[2016-07-24 19:41] kardianos commented on #192
https://github.com/kardianos/vendor-spec

I suppose that would work. Just ensure you run `govendor sync` after you modify it.

[2016-07-24 20:09] bigdrum commented on #192
Cool, thanks!

[2016-07-24 20:09] #192 closed

[2016-07-25 06:49] mlitvin commented on #151
I don't think so.

In my analysis of the situation there are two separate issues, I sort of understand the first but not the 2nd:

Issue 1: Bit bucket can host both git and mercurial repositories. The code first uses a bitbucket api to get the repository type, that API fails for private repositories.

Issue 2: This is where I am a bit lost, it seems that if I forcefully have it use git, it does ma

[2016-07-25 09:29] vrischmann commented on #181
Hi,

sorry I didn't reply earlier. I just did a quick test and it appears to be fixed !

Thanks a lot

[2016-07-25 13:06] #181 closed

[2016-07-25 13:07] kardianos commented on #151
Yeah, I'll test it tonight or tomorrow.

On Sun, Jul 24, 2016, 23:49 mlitvin <notifications@github.com> wrote:

[2016-07-25 16:19] ly-william commented on #180
Yeah seems to work fine. Thanks for the tip @ypaq :+1:

[2016-07-25 16:19] #180 closed

[2016-07-26 18:32] kaedys commented on #165
I can't test the second issue at the moment, since we abandoned our own internal fork of Thrift in favor of upstream, since they merged in my patch for the issue in question (the one reason we forked in the first place).

I'll see if I can duplicate the first issue again, but since it was based on the same forked library, I may not be able to.  I'll report back either way.

[2016-07-26 18:55] kaedys commented on #157
Aside from everything else, I'd like to throw in a suggestion for a new flag (or modify an existing flag and add another to retain current behavior), that shows me only _highest-level unvendored_ dependencies.  This would accomplish the just-show-A behavior that @jefferai was looking for, and would clean up the list view for many use cases.

Basically, the idea would be that a package would only b

[2016-07-28 03:36] shen-xianpeng opened #193 "why 'govendor sync' does not sync local packages used by my main package?"
for example i pushed my code to remote deploy server(ignored vendored packages, only keep vendor.json file), run 'govendor add +e && govendor sync', then i modifed my local packages,  push it to the remote deploy server, run 'govendor sync' didn't sync the local packages i modfied.
'govendor add +e' doesn't update the modified localpackages into vendor too?
Am i using the correct way?

[2016-07-28 03:46] shen-xianpeng commented on #193
shenxianpeng:~/base_architect/user_center/src/usercenter(master)$ rm vendor/tasks/log.go
shenxianpeng:~/base_architect/user_center/src/usercenter(master)$ govendor status
The following packages are missing or modified locally:
        tasks
shenxianpeng:~/base_architect/user_center/src/usercenter(master)$ govendor update +e
shenxianpeng:~/base_architect/user_center/src/usercenter(master)$ govendor

[2016-07-28 15:27] santagada commented on #185
in the end I removed the options from my project so no easy way to test this, but thanks for fixing it, we might need options again

[2016-07-31 20:45] achille-roussel opened #194 "govendor pulls the program package itself in the vendor folder"
Hello,

I'm not sure if this is by design or a bug but I'm seeing a weird behavior where govendor pulls program package itself in the vendor folder. I believe this happens because the dependency structure look like this:
[code]

Here's an example, from the github.com/segmentio/ecs-logs package:
[code]
[code]

I've tried identifying if this could be a problem (my understanding is the sub-packages w

[2016-08-01 00:22] kardianos commented on #194
Try "govendor fetch +v"

On Sun, Jul 31, 2016, 13:45 Achille <notifications@github.com> wrote:

[2016-08-01 03:41] achille-roussel commented on #194
Thanks for replying quickly.

I've tried this:
[code]
but govendor doesn't do anything and just returns right away with return code 0.

[2016-08-01 03:51] achille-roussel commented on #194
I've also tried `govendor fetch +external` which does almost what I need, the only issue is it doesn't download a dependency that's listed as "local" although I'm not sure why:

- The package is github.com/segmentio/ecs-logs
- The dependency is named github.com/segmentio/ecs-logs-go and is seen as "local", maybe because the main package is a prefix

[code]

[2016-08-01 04:29] kardianos commented on #194
This is an issue with how I classify dependencies. for now you can run "
github.com/segmentio/ecs-logs-go/..."

On Sun, Jul 31, 2016 at 8:51 PM Achille <notifications@github.com> wrote:

[2016-08-01 05:47] achille-roussel commented on #194
I'm sorry I'm not sure I understand what you mean.

I've tried to track down the issue and I think I've got a fix, sending a PR now.

[2016-08-01 09:25] rasky commented on #187
Blacklisting `node_modules` is a good idea anyway, as it's usually a very very deep and large tree of files that contain no Go source code. It can easily waste seconds of execution time. `goimports` has recently added it to the blacklist as well, as speed was suffering (https://github.com/golang/tools/commit/d4a8e583a10c1e702d1accc9e66c104f992115c8)

[2016-08-01 20:36] wadey commented on #194
I just ran into the same issue. I expected the following to workaround it, but it still duplicates the package itself:

[code]

I can confirm this workaround works though:

[code]

[2016-08-01 21:37] achille-roussel commented on #194
`+local` kind of worked, but unfortunately it was removing another dependency that was mistakenly seen as local in my case (because the main package was a prefix of the dependency).

[2016-08-01 22:24] sean- opened #196 "Add `-n` flag to `govendor sync`"
Instead of actually pulling in the vendored updates, when the `-n` flag is specified `govendor sync` will only show you what's outdated compared to upstream without updating anything locally.  This will allow a developer to cherrypick upstream updates without syncing the entire tree.